<div class="page-wrapper">
    <nh-header 
        [language]="language"
        [selectedMenuIndex]="selectedMenuIndex"
        (useLanguage)="useLanguage($event)" 
        (navigateTo)="navigateTo($event)"
        (openSideBarEvent)="openSideBar()"
        (setSelectedMenuIndexEvent)="setSelectedMenuIndex($event)"
    >
    </nh-header>
    <div class="main-wrapper">
        <div nz-row>
            <div nz-col nzSpan="24">
                <router-outlet></router-outlet>
            </div>
            <div nz-col nzSpan="24">
                <nh-footer
                    (setSelectedMenuIndexEvent)="setSelectedMenuIndex($event)"
                ></nh-footer>
            </div>
        </div>
    </div>
    <nh-sidebar 
        [visible]="sideBarVisible"
        [language]="language" 
        (useLanguage)="useLanguage($event)" 
        (navigateTo)="navigateTo($event)"
        (closeSideBarEvent)="closeSideBar()"
    >
    </nh-sidebar>
    <nz-back-top></nz-back-top>
</div>
