<div class="page-wrapper">
    <header class="clearfix" id="header">
        <div nz-row>
            <div nz-col nzSpan="24">
                <ul id="top-bar" nz-menu nzMode="horizontal">
                    <li nz-menu-item id="switchLanguage">
                        <!-- <i nz-icon nzType="global">
                            
                        </i> -->
                        <button (click)="useLanguage('en')">en</button>
                    </li>
                </ul>
            </div>
        </div>
        <div nz-row nzType="flex" nzJustify="space-between" nzAlign="middle">
            <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="5" nzXl="5" nzXXl="4">
                <a [routerLink]="['/trangchu']" id="logo">
                    <img src="../../assets//images/nhatha-logo.png" [alt]="'Công ty Kỹ thuật Điện - Năng lượng Nhật Hạ'|translate">
                </a>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="16" nzLg="19" nzXl="19" nzXXl="20">
                <h4 nz-title
                translate>
                Công ty Kỹ thuật Điện - Năng lượng Nhật Hạ</h4>
                <h3 nz-title
                translate>
                Nơi Khách Hàng Đặt Niềm Tin</h3>
            </div>
        </div>
        <div nz-row >
            <div nz-col nzSpan="24">
                <ul id="menu" nz-menu nzMode="horizontal">
                    <li nz-menu-item nzSelected>
                        <a [routerLink]="['/trangchu']"
                        translate>Giới thiệu</a>
                    </li>
                    <li nz-submenu nzMenuClassName="submenu-company" [nzTitle]="'Doanh Nghiệp'|translate"
                    (click)="navigateTo('/doanhnghiep/tamnhin-sumenh-giatri')">
                        <ul>
                            <li nz-menu-item >
                                <a [routerLink]="['/doanhnghiep/tamnhin-sumenh-giatri']"
                                translate>
                                    Tầm nhìn - Sứ mệnh - Giá trị
                                </a>
                            </li>
                            <li nz-menu-item>
                                <a [routerLink]="['/doanhnghiep/thietbi']"
                                translate>
                                    Thiết bị
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li nz-submenu nzMenuClassName="submenu-service" 
                        [nzTitle]="'Dịch Vụ Kỹ Thuật'|translate"
                        (click)="navigateTo('/dichvu')" >
                        <ul>
                            <li (click)="navigateTo('/dichvu/phan-tich-he-thong-dien')" 
                            nz-submenu 
                            [nzTitle]="'Phân Tích Hệ Thống Điện'|translate">
                                <ul>
                                    <li nz-menu-item>
                                        <a [routerLink]="['/dichvu/tinh-toan-ngan-mach-phoi-hop-bao-ve']"
                                        translate>Tính Toán Ngắn Mạch – Phối Hợp Bảo Vệ Hệ Thống
                                        </a>
                                    </li>
                                    <li nz-menu-item>
                                        <a [routerLink]="['/dichvu/phan-tich-nguy-co-ho-quang-dien']"
                                        translate>
                                            Phân Tích Nguy Cơ Hồ Quang Điện
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li nz-menu-item>
                                <a [routerLink]="['/dichvu/thu-nghiem-va-nghiem-thu']"
                                translate>
                                    Thử Nghiệm & Nghiệm Thu
                                </a>
                            </li>
                            <li nz-menu-item>
                                <a [routerLink]="['/dichvu/phan-tich-chat-luong-dien-nang']"
                                translate>
                                    Phân Tích Chất Lượng Điện Năng
                                </a>
                            </li>
                            <li nz-menu-item>
                                <a [routerLink]="['/dichvu/chuong-trinh-bao-tri-dien']"
                                translate>
                                    Chương Trình Bảo Trì Điện
                                </a>
                            </li>
                            <li (click)="navigateTo('/dichvu/bao-tri-theo-tinh-trang')" 
                            nz-submenu 
                            [nzTitle]="'Bảo Trì Theo Tình Trạng'|translate">
                                <ul>
                                    <li nz-menu-item>
                                        <a [routerLink]="['/dichvu/quet-nhiet-hong-ngoai-thiet-bi-dien']"
                                        translate>
                                            Quét Nhiệt Hồng Ngoại Thiết Bị Điện
                                        </a>
                                    </li>
                                    <li nz-menu-item>
                                        <a [routerLink]="['/dichvu/do-phong-dien-cuc-bo']"
                                        translate>
                                            Đo Phóng Điện Cục Bộ
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li nz-submenu nzMenuClassName="submenu-product" [nzTitle]="'Sản Phẩm'|translate"
                    (click)="navigateTo('/sanpham')">
                        <ul>
                            <li nz-submenu [nzTitle]="'Cửa Sổ Hồng Ngoại'|translate"
                            (click)="navigateTo('/sanpham/cua-so-hong-ngoai')">
                                <ul>
                                    <li nz-submenu [nzTitle]="'Sản Phẩm IRISS'|translate"
                                    (click)="navigateTo('/sanpham/san-pham-iriss')">
                                        <ul>
                                            <li nz-menu-item>
                                                <a [routerLink]="['/sanpham/san-pham-iriss/thong-tin-san-pham']" fragment="dong-vpt" translate>Dòng VPT</a>
                                            </li>
                                            <li nz-menu-item>
                                                <a [routerLink]="['/sanpham/san-pham-iriss/thong-tin-san-pham']" fragment="dong-cap-ct" translate>Dòng CAP CT</a>
                                            </li>
                                            <li nz-menu-item>
                                                <a [routerLink]="['/sanpham/san-pham-iriss/thong-tin-san-pham']" fragment="dong-cap-env" translate>Dòng CAP ENV</a>
                                            </li>
                                            <li nz-menu-item>
                                                <a [routerLink]="['/sanpham/san-pham-iriss/thong-tin-san-pham']" fragment="dong-flex-ir" translate>Dòng FLEX IR</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li nz-menu-item>
                                        <a [routerLink]="['/sanpham/san-pham-cordex']" translate>Sản Phẩm Cordex</a>
                                    </li>
                                </ul>
                            </li>
                            <li nz-submenu [nzTitle]="'Máy Dò Trình Trạng Thiết Bị'|translate"
                            (click)="navigateTo('/sanpham/may-do-tinh-trang-thiet-bi')">
                                <ul>
                                    <li nz-submenu [nzTitle]="'Máy Chụp Hình Nhiệt Cordex'|translate"
                                    (click)="navigateTo('/sanpham')">
                                        <ul>
                                            <li nz-menu-item>
                                                <a [routerLink]="['/sanpham']" translate>Máy Cordex Toughpix Digitherm</a>
                                            </li>
                                            <li nz-menu-item>
                                                <a [routerLink]="['/sanpham']" translate>Máy Cordex TC7150</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li nz-submenu [nzTitle]="'Máy Dò Sóng Siêu Âm IRISS'|translate"
                                    (click)="navigateTo('/sanpham')">
                                        <ul>
                                            <li nz-menu-item>
                                                <a [routerLink]="['/sanpham']" translate>Iriss Sonus XT</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li nz-submenu [nzTitle]="'Máy Đo Phóng Điện Cục Bộ IRISS'|translate"
                                    (click)="navigateTo('/sanpham')">
                                        <ul>
                                            <li nz-menu-item>
                                                <a [routerLink]="['/sanpham']">Iriss Sonus PD</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li nz-submenu [nzTitle]="'Giải Pháp Giám Sát Liên Tục'|translate"
                            (click)="navigateTo('/sanpham/giai-phap-giam-sat-lien-tuc')">
                                <ul>
                                    <li nz-menu-item>
                                        <a [routerLink]="['/sanpham']">Emerson Intellisaw</a>
                                    </li>
                                    <li nz-submenu nzTitle="Cordex Automated Camera">
                                        <ul>
                                            <li nz-menu-item>
                                                <a [routerLink]="['/sanpham']">MN4000</a>
                                            </li>
                                            <li nz-menu-item>
                                                <a [routerLink]="['/sanpham']">MN4100</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li nz-menu-item>
                                        <a [routerLink]="['/sanpham']">Iriss Delta T Alert</a>
                                    </li>
                                    <li nz-menu-item>
                                        <a [routerLink]="['/sanpham']">Iriss E Sentry</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li nz-menu-item>
                        <a [routerLink]="['/doitac']" translate>Đối Tác</a>
                    </li>
                    <li nz-menu-item>
                        <a [routerLink]="['/duan']" translate>Dự Án</a>
                    </li>
                    <li (click)="navigateTo('/hotro/phanmem')" 
                    nz-submenu nzMenuClassName="submenu-support"
                    [nzTitle]="'Hỗ Trợ'|translate">
                        <ul>
                            <li nz-menu-item>
                                <a [routerLink]="['/hotro/phanmem']" translate>
                                    Phần Mềm
                                </a>
                            </li>
                            <li nz-menu-item>
                                <a [routerLink]="['/hotro/nghiencuu']" translate>Tình Huống Nghiên Cứu</a>
                            </li>
                        </ul>
                    </li>
                    <li (click)="navigateTo('/lienhe')" 
                    nz-submenu nzMenuClassName="submenu-contact"
                    [nzTitle]="'Liên Hệ'|translate">
                        <ul>
                            <li nz-menu-item>
                                <a [routerLink]="['/lienhe']" translate>Liên Hệ Thông Tin</a>
                            </li>
                            <li nz-menu-item>
                                <a [routerLink]="['/tuyendung']" translate>Việc Làm</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div class="main-wrapper">
        <div nz-row>
            <div nz-col nzSpan="24">
                <router-outlet></router-outlet>
            </div>
            <div nz-col nzSpan="24">
                <footer class="clearfix" id="footer">
                    <div class="footer-wrap">
                        <div nz-row nzType="flex" nzJustify="space-between">
                            <div nz-col nzXs="24" nzSm="24" nzMd="6">
                                <div class="footer-center">
                                    <h3 translate>Dịch Vụ Kỹ Thuật</h3>
                                    <div nz-col nzSpan="24">
                                        <a [routerLink]="['/dichvu/tinh-toan-ngan-mach-phoi-hop-bao-ve']" translate>Tính Toán Ngắn Mạch – Phối Hợp Bảo Vệ Hệ Thống</a>
                                    </div>
                                    <div nz-col nzSpan="24">
                                        <a [routerLink]="['/dichvu/phan-tich-nguy-co-ho-quang-dien']" translate>Phân Tích Hồ Quang Điện</a>
                                    </div>
                                    <div nz-col nzSpan="24">
                                        <a [routerLink]="['/dichvu/thu-nghiem-va-nghiem-thu']" translate>Thử Nghiệm & Nghiệm Thu</a>
                                    </div>
                                    <div nz-col nzSpan="24">
                                        <a [routerLink]="['/dichvu/phan-tich-chat-luong-dien-nang']" translate>Phân Tích Chất Lượng Điện</a>
                                    </div>
                                    <div nz-col nzSpan="24">
                                        <a [routerLink]="['/dichvu/chuong-trinh-bao-tri-dien']" translate>Bảo Trì Ngăn Ngừa</a>
                                    </div>
                                    <div nz-col nzSpan="24">
                                        <a [routerLink]="['/dichvu/quet-nhiet-hong-ngoai-thiet-bi-dien']" translate>Quét Nhiệt Hồng Ngoại</a>
                                    </div>
                                    <div nz-col nzSpan="24">
                                        <a [routerLink]="['/dichvu/do-phong-dien-cuc-bo']" translate>Đo Phóng Điện Cục Bộ</a>
                                    </div>
                                </div>
                            </div>
                            <div nz-col nzXs="24" nzSm="24" nzMd="6">
                                <div class="footer-center">
                                    <h3 translate>Sản Phẩm</h3>
                                    <div nz-col nzSpan="24">
                                        <a [routerLink]="['/sanpham']" translate>Cửa Sổ Hồng Ngoại Cordex</a>
                                    </div>
                                    <div nz-col nzSpan="24">
                                        <a [routerLink]="['/sanpham']" translate>Phân Tích Hồ Quang Điện</a>
                                    </div>
                                    <div nz-col nzSpan="24">
                                        <a [routerLink]="['/sanpham']" translate>Máy Chụp Hình Nhiệt Cordex</a>
                                    </div>
                                    <div nz-col nzSpan="24">
                                        <a [routerLink]="['/sanpham']" translate>Máy Đo Sóng Siêu Âm IRISS</a>
                                    </div>
                                    <div nz-col nzSpan="24">
                                        <a [routerLink]="['/sanpham']" translate>Máy Đo Phóng Điện Cục Bộ IRISS</a>
                                    </div>
                                    <div nz-col nzSpan="24">
                                        <a [routerLink]="['/sanpham']" translate>Hệ Giám Sát IntelliSAW Emerson</a>
                                    </div>
                                    <div nz-col nzSpan="24">
                                        <a [routerLink]="['/sanpham']" translate>Hệ Giám Sát Monitir Cordex</a>
                                    </div>
                                    <div nz-col nzSpan="24">
                                        <a [routerLink]="['/sanpham']" translate>Hệ Giám Sát Delta T Alert IRISS</a>
                                    </div>
                                    <div nz-col nzSpan="24">
                                        <a [routerLink]="['/sanpham']" translate>Hệ Nhãn Đánh Dấu E Sentry IRISS</a>
                                    </div>
                                </div>
                            </div>
                            <div nz-col nzXs="24" nzSm="24" nzMd="6">
                                <div class="footer-center">
                                    <h3 translate>Công Ty</h3>
                                    <div nz-col nzSpan="24">
                                        <a [routerLink]="['/doanhnghiep/tamnhin-sumenh-giatri']"
                                        translate>
                                        Tầm Nhìn – Sứ Mệnh – Giá Trị
                                    </a>
                                    </div>
                                    <div nz-col nzSpan="24">
                                        <a [routerLink]="['/tuyendung']"
                                        translate>
                                            Việc Làm & Sự Nghiệp</a>
                                    </div>
                                    <div nz-col nzSpan="24">
                                        <a [routerLink]="['/lienhe']"
                                        translate>
                                            Liên Hệ
                                        </a>
                                    </div>
                                </div>
                                <div class="footer-center">
                                    <h3 translate>Đối Tác Dịch Vụ</h3>
                                    <div nz-row nzType="flex" nzJustify="space-between" nzAlign="middle">
                                        <div nz-col nzXs="10" nzSm="10" nzMd="10">
                                            <a [routerLink]="['/doitac']">
                                                <img src="/assets/images/schneider-logo.png" alt="Schneider">
                                            </a>
                                        </div>
                                        <div nz-col nzXs="10" nzSm="10" nzMd="10">
                                            <a [routerLink]="['/doitac']">
                                                <img src="/assets/images/abb-logo.png" alt="Abb">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer-center">
                                    <h3 translate>Đối Tác Sản Phẩm</h3>
                                    <div nz-row nzType="flex" nzJustify="space-between">
                                        <div nz-col nzXs="6" nzSm="6" nzMd="6">
                                            <a [routerLink]="['/doitac']">
                                                <img src="/assets/images/emerson-logo.png" alt="Emerson">
                                            </a>
                                        </div>
                                        <div nz-col nzXs="6" nzSm="6" nzMd="6">
                                            <a [routerLink]="['/doitac']">
                                                <img src="/assets/images/cordex-logo.png" alt="Cordex">
                                            </a>
                                        </div>
                                        <div nz-col nzXs="6" nzSm="6" nzMd="6">
                                            <a [routerLink]="['/doitac']">
                                                <img src="/assets/images/iriss-logo.png" alt="Iriss">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bottom-bar">
                        <span translate>Quyền sở hữu</span>
                        <i nz-icon nzType="copyright" nzTheme="outline"></i>{{year}}
                        <span translate>
                            Công ty Kỹ thuật Điện - Năng lượng Nhật Hạ
                        </span>
                    </div>
                </footer>
            </div>
        </div>
    </div>
    <nz-back-top></nz-back-top>
</div>

