<nz-carousel nzEffect="fade" nzDots="{{banners.length > 1 ? true : false}}" nzAutoPlay>
    <div nz-carousel-content *ngFor="let banner of banners">
        <img [src]="banner.img" alt="Đối tác của chúng tôi">
        <h1 nz-title>{{banner.caption}}</h1>
    </div>
</nz-carousel>
<div class="main-container">
    <div class="clearfix" id="project">
        <div class="project-wrap">
            <div class="project" nz-row nzType="flex" nzJustify="space-between" nzAlign="top">
                <div nz-col nzXs="24" nzSm="24" nzMd="5">
                    <nz-anchor nzOffsetTop="30">
                        <nz-link *ngFor="let project of projects;" nzHref="#{{project.id}}" nzTitle="{{project.group}}"></nz-link>
                    </nz-anchor>
                </div>
                <div nz-col nzXs="24" nzSm="24" nzMd="18">
                    <div nz-row nzType="flex" nzJustify="space-between" nzAlign="top"
                    *ngFor="let project of projects" id="{{project.id}}">
                        <div nz-col nzSpan="24">
                            <div nz-row nzType="flex" nzJustify="space-between" nzAlign="top"
                            *ngFor="let p of project.projects">
                                <div nz-col nzXs="24" nzSm="24" nzMd="4">
                                    <img [src]="p.img" alt="">
                                </div>
                                <div nz-col nzXs="24" nzSm="24" nzMd="19">
                                    <h3>{{p.name}}</h3>
                                    <ul>
                                        <li *ngFor="let description of p.descriptions">
                                            {{description}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>