<div class="" id="ourvision-misson-value">
    <div class="container py-5">
        <div class="card card-img">
            <img class="img-fluid" src="assets/images/company/vision/tamnhin-sumenh-giatri.png"
                alt="Nhat Ha's vision, mission and value." />
        </div>


        <div class="card">
            <div class="card-header header-elements-inline">
                <h4>Our Vision</h4>
            </div>
            <div class="card-body pt-3">
                <div class="row">
                    <div class="col-4">
                        <div class="card card-img">
                            <img class="img-fluid" src="assets/images/company/vision/tamnhin.jpeg"
                                alt="Tầm nhìn chiến lược." />
                        </div>
                    </div>
                    <div class="col-8">
                        <h5>
                            Become a leading company in Part Supply – Installation – Maintenance – Solution for Power
                            system.
                        </h5>
                        <h5>
                            Constantly apply modern technologies in combination with traditional values to enhance
                            customers’ system reliability and economic benefits.
                        </h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header header-elements-inline">
                <h4>Our Mission</h4>
            </div>
            <div class="card-body pt-3">
                <div data-aos="zoom-in" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000"
                    data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false"
                    data-aos-anchor-placement="top-center" class="row">
                    <div class="col-4">
                        <div class="card card-img">
                            <img class="img-fluid" src="assets/images/company/vision/hotro-khachhang.jpg"
                                alt="Trở thành người đồng hành tin cậy." />
                        </div>
                    </div>
                    <div class="col-8">
                        <h5>
                            Become a trustworthy partner in Part Supply – Installation –
                            Maintenance – Solution for Power system.
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="card card-img">
                            <img class="img-fluid" src="assets/images/company/vision/loich-khachhang.jpg"
                                alt="Giảm thiểu rủi ro, mang lại lợi ích tối đa cho khách hàng." />
                        </div>
                    </div>
                    <div class="col-8">
                        <h5>
                            Direct and change market and customers’ awareness of utilizing
                            technologies to reduce risks and increase more benefits for
                            customers.
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="card card-img">
                            <img class="img-fluid" src="assets/images/company/vision/nangluong-moitruong.jpg"
                                alt="Công ty tiết kiệm và thân thiện môi trường." />
                        </div>
                    </div>
                    <div class="col-8">
                        <h5>
                            Provide advanced technological solutions to improve business
                            efficiency while reduce energy consumption and be more
                            environmental friendly.
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="card card-img">
                            <img class="img-fluid" src="assets/images/company/vision/motruong-nangdong.jpg"
                                alt="Môi trường làm việc năng động." />
                        </div>
                    </div>
                    <div class="col-8">
                        <h5>
                            Create a dynamic working environment in which people are able to develop their potentials
                            and professional career actively and fully.
                        </h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header header-elements-inline">
                <h4>Our Value</h4>
            </div>
            <div class="card-body pt-3">
                <div class="row">
                    <div class="col-4">
                        <div class="card card-img">
                            <img class="img-fluid" src="assets/images/company/vision/antoan-laodong.jpg"
                                alt="Nhat Ha's mission" />
                        </div>
                    </div>
                    <div class="col-8">
                        <h5>
                            In any situation, safety for our staff, customers and other people are the basis of our
                            thinking and consideration in working.
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="card card-img">
                            <img class="img-fluid" src="assets/images/company/vision/chatluong-hangdau.jpg"
                                alt="Nhat Ha's mission" />
                        </div>
                    </div>
                    <div class="col-8">
                        <h5>
                            In our business philosophy, there is no compromise on quality. Quality is always our first
                            priority in our work that we plan and execute.
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="card card-img">
                            <img class="img-fluid" src="assets/images/company/vision/trungthuc-chuyennghiep.jpg"
                                alt="Nhat Ha's mission" />
                        </div>
                    </div>
                    <div class="col-8">
                        <h5>
                            With us, every work is built upon standards of honest, respect and professionalism.
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="card card-img">
                            <img class="img-fluid" src="assets/images/company/vision/hoptac.jpg"
                                alt="Nhat Ha's mission" />
                        </div>
                    </div>
                    <div class="col-8">
                        <h5>
                            Always commit to understand and constantly deliver the best value for customers.
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
