<div id="footer">
    <div class="bg-footer-dark">
        <div class="container">
            <div class="grid-fluid py-3">
                <div class="footer-block">
                    <h5>
                        Engineering Services
                    </h5>
                    <ul>
                        <li>
                            <a href="">Short Circuit & Protective Coordination Study</a>
                        </li>
                        <li>
                            <a href="">Arc Flash Study</a>
                        </li>
                        <li>
                            <a href="">Testing & Commissioning</a>
                        </li>
                        <li>
                            <a href="">Power Quality Analysis</a>
                        </li>
                        <li>
                            <a href="">Preventive Maintenance</a>
                        </li>
                        <li>
                            <a href="">Infrared Inspection</a>
                        </li>
                        <li>
                            <a href="">Online Partial Discharge Testing</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-block">
                    <h5>
                        Products
                    </h5>
                    <ul>
                        <li>
                            <a href="">Cordex Crystal IR Window</a>
                        </li>
                        <li>
                            <a href="">IRISS Polymer IR Window</a>
                        </li>
                        <li>
                            <a href="">Cordex IR Camera</a>
                        </li>
                        <li>
                            <a href="">IRISS Ultrasound Tester</a>
                        </li>
                        <li>
                            <a href="">IRISS Partial Discharge Tester</a>
                        </li>
                        <li>
                            <a href="">Emerson IntelliSAW System</a>
                        </li>
                        <li>
                            <a href="">Cordex Monitir System</a>
                        </li>
                        <li>
                            <a href="">IRISS Delta T Alert System</a>
                        </li>
                        <li>
                            <a href="">IRISS E Sentry System</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-block">
                    <h5>
                        Company
                    </h5>
                    <ul>
                        <li>
                            <a href="">Vision – Mission - Value</a>
                        </li>
                        <li>
                            <a href="">Job & Career</a>
                        </li>
                        <li>
                            <a href="">Contact Us</a>
                        </li>
                    </ul>
                    <h5>
                        Service Partner
                    </h5>
                    <div>
                        <a href="">
                            <img class="img-fluid" src="assets/images/schneider-logo.png" alt="">
                        </a>
                        <a href="">
                            <img class="img-fluid" src="assets/images/abb-logo.png" alt="">
                        </a>
                    </div>
                    <h5>
                        Product Partner
                    </h5>
                    <div>
                        <a href="">
                            <img class="img-fluid" src="assets/images/emerson-logo.png" alt="">
                        </a>
                        <a href="">
                            <img class="img-fluid" src="assets/images/cordex-logo.png" alt="">
                        </a>
                        <a href="">
                            <img class="img-fluid" src="assets/images/iriss-logo.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-footer-primary">
        <div class="container">
            <div class="row p-3">
                <div class="col-12">
                    <h6>
                        Copyright © 2018 Nhat Ha Trading & Technical Service Co. Ltd. (Nhat Ha Electric)
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>
