<div class="container" id="projects" data-spy="scroll" data-target="#myScrollspy" data-offset="1">
    <div class="banner">
        <div class="card card-img">
            <img class="img-fluid" src="assets/images/projects/banner1.jpg" alt="Nhat Ha's vision, mission and value." />
        </div>
    </div>
    <div class="container py-5">
        <div class="row">
            <!-- <div class="col-3 px-1">
                 <div id="ptoject-category" class="list-group ">
                    <a class="list-group-item list-group-item-action" routerLink="/projects" fragment="heavy-industry">Heavy Industry</a>
                    <a class="list-group-item list-group-item-action" routerLink="/projects" fragment="power-generation">Power Generation</a>
                    <a class="list-group-item list-group-item-action" href="#oil-gas">Oil & Gas</a>
                    <a class="list-group-item list-group-item-action" href="#electronic-semicon">Electronic -
                        Semicon</a>
                    <a class="list-group-item list-group-item-action" href="#consumable-product">Consumable Product</a>
                    <a class="list-group-item list-group-item-action" href="#food-beverage">Food & Beverage</a>
                    <a class="list-group-item list-group-item-action" href="#port-warehouse">Port - Warehouse</a>
                    <a class="list-group-item list-group-item-action" href="#comercial-build">Commercial Build</a>
                    <a class="list-group-item list-group-item-action" href="#hotel-resort">Hotel - Resort</a>
                </div> 
            </div>  -->
            <aside class="col-2 px-0 fixed-top" id="left">
                    <div class="list-group w-100">
                        <a href="#" class="list-group-item active">Link</a>
                        <a href="#" class="list-group-item">Link</a>
                        <a href="#" class="list-group-item">Link</a>
                        <a href="#" class="list-group-item">Link</a>
                        <a href="#" class="list-group-item">Link</a>
                        <a href="#" class="list-group-item">Link</a>
                        <a href="#" class="list-group-item">Link</a>
                        <a href="#" class="list-group-item">Link</a>
                        <a href="#" class="list-group-item">Link</a>
                        <a href="#" class="list-group-item">Link</a>
                    </div>
        
                </aside>
             <div class="col">
                <div data-spy="scroll" data-target="#ptoject-category" data-offset="0" >
                    <div id="heavy-industry">
                        <div class="row">
                            <div class="col-4">
                                <div class="card card-img">
                                    <img class="img-fluid" src="assets/images/projects/01/01/Pomina.gif" alt="">
                                </div>
                            </div>
                            <div class="col-8">
                                <h4>
                                    Pomina 2 Steel Plant – Ba Ria Vung Tau
                                </h4>
                                <ul>
                                    <li>
                                        <p>
                                            Supply High Voltage (HV) – Medium Voltage (MV) equipment for sub-station
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Provide installation – repair – testing service for Medium Voltage (MV)
                                            cable termination
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div class="card card-img">
                                    <img class="img-fluid" src="assets/images/projects/01/02/Viglacera.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-8">
                                <h4>
                                    Viglacera Float Glass Factory – Binh Duong
                                </h4>
                                <ul>
                                    <li>
                                        <p>
                                            Supply Medium Voltage (MV) – Low Voltage (LV) equipment for distribution
                                            system
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Provide installation – repair – testing service for Low Voltage (LV) Air
                                            Circuit Breaker (ACB)
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Provide electrical testing – maintenance service
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div class="card card-img">
                                    <img class="img-fluid" src="assets/images/projects/01/03/Formosa Ha Tinh.jpg"
                                        alt="">
                                </div>
                            </div>
                            <div class="col-8">
                                <h4>
                                    Formosa Steel Plant – Ha Tinh
                                </h4>
                                <ul>
                                    <li>
                                        <p>
                                            Provide Online Partial Discharge (PD) Testing service for Medium Voltage
                                            (MV) busway
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div class="card card-img">
                                    <img class="img-fluid" src="assets/images/projects/01/04/Formosa Nhon Trach.png"
                                        alt="">
                                </div>
                            </div>
                            <div class="col-8">
                                <h4>
                                    Formosa Nhon Trach Plant – Dong Nai
                                </h4>
                                <ul>
                                    <li>
                                        <p>
                                            Provide Online Partial Discharge (PD) Testing service for Medium Voltage
                                            (MV) cable joint
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Provide AC VLF and Tan Delta Testing service for Medium Voltage (MV)
                                            underground cable
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="" id="power-generation">
                        <div class="row">
                            <div class="col-4">
                                <div class="card card-img">
                                    <img class="img-fluid" src="assets/images/projects/02/01/Nhiet Dien Phu My.jpg"
                                        alt="">
                                </div>
                            </div>
                            <div class="col-8">
                                <h4>
                                        Phu My 2.2 Thermal Plant – Ba Ria Vung Tau
                                </h4>
                                <ul>
                                    <li>
                                        <p>
                                            Supply Medium Voltage (MV) – Low Voltage (LV)  equipment for distribution system
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Provide electrical testing – maintenance service
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Provide technical training service for electrical equipment testing – maintenance
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>
