#projects {
    display: flex;
    flex-direction: column;
    flex: 1;
    .banner {
        width: 100%;
    }
    h4 {
        color: #4F81BD;
    }
    .project-list {
        position: relative;
        height: 400px;
        margin-top: .5rem;
        overflow: auto;
    }
}