<div class="" id="contactinfo">
    <div class="container py-5">
        <div class="row">
            <div class="col-6">
                <h5>
                    NHAT HA TRADING - TECHNICAL SERVICE CO. LTD.
                </h5>
                <a href="">
                    <i class="icon-location4 icon-2x"></i>
                    4th Floor, Thuy Loi 4 Building, 205 Nguyen Xi St.,
                    Ward 26, Binh Thanh Dist., Ho Chi Minh City, Vietnam
                </a>
                <br/>
                <a href="tel:(+84 28) 6258 1796">
                    <i class="icon-phone icon-2x"></i>
                    (+84 28) 6258 1796
                </a>
                <br/>
                <a href="mailto:sale@nhatha-electric.com">
                    <i class="icon-envelop5 icon-2x"></i>
                    sale@nhatha-electric.com
                </a>
                <br/>
                <a href="www.nhatha-electric.com">
                    <i class="icon-earth icon-2x"></i>
                    www.nhatha-electric.com
                </a>
            </div>
            <div class="col-6">
                <form>
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Full name">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Phone">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="" id="" cols="30" rows="10"
                            placeholder="Inquiries"></textarea>
                    </div>
                    <button class="btn btn-primary">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>
