<div class="main-container">
    <div class="clearfix" id="contact-us">
        <div class="contact-us-wrap">
            <div class="contact-us" nz-row nzType="flex" nzJustify="space-between" nzAlign="top">
                <div nz-col nzXs="24" nzSm="24" nzMd="11">
                    <div class="contact-us-info">
                        <h3>{{'companyName' | translate}}</h3>
                        <div nz-col nzSpan="24">
                            <a href="https://goo.gl/maps/ZcVioBtJC5shtB3GA" target="_blank">
                                <i nz-icon nzType="global" nzTheme="outline"></i>
                                {{'companyAddress' | translate}}
                            </a>
                        </div>
                        <div nz-col nzSpan="24">
                            <a href="tel:(+84 28) 6258 1796">
                                <i nz-icon nzType="phone" nzTheme="outline"></i>
                                (+84 28) 6258 1796
                            </a>
                        </div>
                        <div nz-col nzSpan="24">
                            <a href="mailto:sale@nhatha-electric.com">
                                <i nz-icon nzType="mail" nzTheme="outline"></i>
                                sale@nhatha-electric.com
                            </a>
                        </div>
                        <div nz-col nzSpan="24">
                            <a [routerLink]="['/']">
                                <i nz-icon nzType="google" nzTheme="outline"></i>
                                www.nhatha-electric.com
                            </a>
                        </div>
                    </div>
                </div>
                <div nz-col nzXs="24" nzSm="24" nzMd="11">
                    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm(validateForm.value)">
                        <nz-form-item>
                            <nz-form-control [nzSpan]="24" nzHasFeedback [nzErrorTip]="nameErrorTpl">
                                <input nz-input formControlName="name" [placeholder]="'fullName' | translate" />
                                <ng-template #nameErrorTpl let-control>
                                    <ng-container *ngIf="control.hasError('required')">
                                       {{'validFullNameMessage' | translate}}
                                    </ng-container>
                                </ng-template>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-control [nzSpan]="24" nzHasFeedback [nzErrorTip]="emailErrorTpl">
                                <input nz-input formControlName="email" placeholder="Email" type="email" />
                                <ng-template #emailErrorTpl let-control>
                                    <ng-container *ngIf="control.hasError('email')">
                                        {{'validEmailMessage' | translate}}
                                    </ng-container>
                                    <ng-container *ngIf="control.hasError('required')">
                                        {{'blankEmailMessage' | translate}}
                                    </ng-container>
                                </ng-template>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-control [nzSpan]="24" nzHasFeedback [nzErrorTip]="phoneErrorTpl">
                                <input nz-input formControlName="phone" [placeholder]="'phone' | translate" />
                                <ng-template #phoneErrorTpl let-control>
                                    <ng-container *ngIf="control.hasError('required')">
                                        {{'validPhoneMessage' | translate}}
                                    </ng-container>
                                </ng-template>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-control [nzSpan]="24" [nzErrorTip]="inquiryErrorTpl">
                                <textarea formControlName="inquiry" nz-input rows="3"
                                    [placeholder]="'inquiries' | translate"></textarea>
                                <ng-template #inquiryErrorTpl let-control>
                                    <ng-container *ngIf="control.hasError('required')">
                                        {{'validInquiriesMessage' | translate}}
                                    </ng-container>
                                </ng-template>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-control [nzOffset]="20" [nzSpan]="4">
                                <button nz-button nzType="primary" nzBlock [disabled]="!validateForm.valid">
                                    {{'send' | translate}}
                                </button>
                            </nz-form-control>
                        </nz-form-item>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
