<nz-carousel nzEffect="fade" nzDots="{{banners.length > 1 ? true : false}}" nzAutoPlay>
    <div nz-carousel-content *ngFor="let banner of banners">
        <img [src]="banner" alt="Thiết bị của chúng tôi">
    </div>
</nz-carousel>
<div class="main-container">
    <div class="clearfix" id="equipment">
        <div class="equipment-wrap">
            <section>
                <div class="equipment" nz-row nzType="flex" nzJustify="space-between" nzAlign="top"
                    *ngFor="let equipment of equipments; let i = index">
                    <h3 nz-title>{{'equipmentGroupName' + i | translate}}</h3>
                    <nz-divider></nz-divider>
                    <div nz-col nzXs="24" nzSm="24" nzMd="6">
                        <img [src]="equipment.img" [alt]="equipment.name">
                    </div>
                    <div nz-col nzXs="24" nzSm="24" nzMd="16">
                        <article nz-typography>
                            <p nz-paragraph *ngFor="let content of equipment.contents;let j = index">
                                <b>{{('content.key' + j) | translate}}</b>
                                {{content.value}}
                            </p>
                        </article>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
