<div class="main-container">
    <div class="clearfix" id="product">
        <div class="product-wrap">
            <div nz-row nzType="flex" nzJustify="space-between" nzAlign="top" nzGutter="8">
                <div class="product" nz-col nzXs="24" nzSm="24" nzMd="6"
                    *ngFor="let product_cbm_tool of products; let i=index">
                    <a routerLink="{{product_cbm_tool.href}}">
                        <div class="product-item" nz-row nzType="flex" nzJustify="space-between" nzAlign="top">
                            <div nz-col nzSpan="24" style="margin-bottom: 12px;">
                                <img [src]="product_cbm_tool.img" alt="{{product_cbm_tool.name}}" />
                            </div>
                            <div nz-col nzSpan="24" style="background: orange;">
                                <h2>
                                    {{('product_cbm_tool.description'+i)|translate}}
                                </h2>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
