@import "../node_modules/ng-zorro-antd/style/entry.less";
@import "../node_modules/ng-zorro-antd/anchor/style/entry.less";
@import "../node_modules/ng-zorro-antd/form/style/entry.less";
@import "../node_modules/ng-zorro-antd/button/style/entry.less";
@import "../node_modules/ng-zorro-antd/input/style/entry.less";
@import "../node_modules/ng-zorro-antd/carousel/style/entry.less";
@import "../node_modules/ng-zorro-antd/divider/style/entry.less";
@import "../node_modules/ng-zorro-antd/grid/style/entry.less";
@import "../node_modules/ng-zorro-antd/icon/style/entry.less";
@import "../node_modules/ng-zorro-antd/menu/style/entry.less";
@import "../node_modules/ng-zorro-antd/typography/style/entry.less";
@import "../node_modules/ng-zorro-antd/table/style/entry.less";
@import "../node_modules/ng-zorro-antd/tabs/style/entry.less";
@import "../node_modules/ng-zorro-antd/back-top/style/entry.less";

@text-blue: #096dd9;
@text-uppercase: uppercase;

.cdk-overlay-container {
    ul.ant-menu-sub {
        &.submenu-company,
        &.submenu-product {
            min-width: 250px;
        }

        &.submenu-service {
            min-width: 300px;
        }

        &.submenu-support {
            min-width: 250px;
        }

        ul {
            > li {
                text-transform: @text-uppercase;
                color: @text-blue;

                > a {
                    text-transform: @text-uppercase;
                    color: @text-blue;
                }
            }
        }
    }

}

.ant-menu-submenu-title .ant-menu-submenu-arrow::before {
    background: linear-gradient(to right, @text-blue, @text-blue);   
}

.ant-table-placeholder {
    display: none !important;
}

li:not(.ant-menu-submenu) {
    list-style-type: circle;
    text-align: justify;
}
