@import "../node_modules/ng-zorro-antd/style/entry.less";
@import "../node_modules/ng-zorro-antd/affix/style/entry.less";
@import "../node_modules/ng-zorro-antd/anchor/style/entry.less";
@import "../node_modules/ng-zorro-antd/form/style/entry.less";
@import "../node_modules/ng-zorro-antd/button/style/entry.less";
@import "../node_modules/ng-zorro-antd/input/style/entry.less";
@import "../node_modules/ng-zorro-antd/carousel/style/entry.less";
@import "../node_modules/ng-zorro-antd/divider/style/entry.less";
@import "../node_modules/ng-zorro-antd/grid/style/entry.less";
@import "../node_modules/ng-zorro-antd/icon/style/entry.less";
@import "../node_modules/ng-zorro-antd/menu/style/entry.less";
@import "../node_modules/ng-zorro-antd/typography/style/entry.less";
@import "../node_modules/ng-zorro-antd/table/style/entry.less";
@import "../node_modules/ng-zorro-antd/back-top/style/entry.less";
@import "../node_modules/ng-zorro-antd/drawer/style/entry.less";
@import "../node_modules/ng-zorro-antd/message/style/entry.less";

@text-blue: #4f81bd; // #096dd9;
@text-white: #ffffff;
@text-black: #314659;
@text-uppercase: uppercase;
@bg-white: #ffffff;
@bg-blue: #4f81bd; // #096dd9;
@bg-orange: #ffa500;

body {
    font-family: 'Roboto', sans-serif;
}

.cdk-overlay-container {
    ul.ant-menu-sub {
        &.submenu-company, &.submenu-product {
            min-width: 250px;
        }

        &.submenu-service {
            min-width: 300px;
        }

        &.submenu-support {
            min-width: 250px;
        }

        ul {
            > li {
                text-transform: uppercase;
                color: #ffffff;

                &.ant-menu-item:hover, &.ant-menu-item-selected,
                &ant-menu-submenu:hover, &.ant-menu-submenu-selected,
                &ant-menu-submenu-active, &.ant-menu-submenu-open {
                    color: #ffffff;
                    background-color: #4f81bd; // #273c75;
                    border-left: 2px solid #ffffff;
                }

                > a {
                    text-transform: uppercase;
                    color: #ffffff;
                }
            }
        }
    }

}

.ant-menu-submenu {
    > .ant-menu {
        background-color: #4f81bd; // #273c75;
        border-radius: 0;
    }
}

.ant-menu-submenu-title:hover {
    color: #ffffff;
}

.ant-menu-submenu-title .ant-menu-submenu-arrow::after {
    // background-image: linear-gradient(to right, @text-blue, @text-blue) !important;
    display: none !important;
}

.ant-menu-submenu-title .ant-menu-submenu-arrow::before {
    // background-image: linear-gradient(to right, @text-blue, @text-blue) !important;
    display: none !important; 
}

.ant-table-placeholder {
    display: none !important;
}

.ant-drawer-header {
    box-shadow: 0 2px 8px #f0f1f2;
    -moz-box-shadow: 0 2px 8px #f0f1f2;
    -webkit-box-shadow: 0 2px 8px #f0f1f2;
    -o-box-shadow: 0 2px 8px #f0f1f2;
    -ms-box-shadow: 0 2px 8px #f0f1f2;
}

.ant-drawer-title {
    text-align: center;
    
    h4, h5 {
        color: @text-blue;
    }
}

.ant-drawer-body {
    background-color: #4f81bd; // #273c75;
    height: 100%;
    padding: 0;
}

li:not(.ant-menu-submenu) {
    list-style-type: circle;
    text-align: justify;
}

#iriss-product {
    .ant-table-thead {
        tr {
            th {
                text-align: left;
                color: @text-white;
                font-weight: bold;
                background: @bg-blue;
                border-bottom: 2px solid #fff;
            }
        }
    }

    .ant-table-tbody {
        tr:nth-chlld(even) {
            background-color: lightblue;
        }
        
        tr:nth-chlld(odd) {
            background-color: aliceblue;
        }
    }
}

#cordex-product {
    .ant-table-thead {
        tr {
            th {
                text-align: left;
                color: @text-white;
                font-weight: bold;
                background: @bg-orange;
                border-bottom: 2px solid #fff;
            }
        }
    }

    .ant-table-tbody {
        tr:nth-chlld(even) {
            background-color: #ffedcc;
        }
        
        tr:nth-chlld(odd) {
            background-color: #fff6e6;
        }
    }
}


#delta-t-product {
    .ant-table-thead {
        tr {
            th {
                text-align: left;
                color: @text-white;
                font-weight: bold;
                background: #4472c4;
                border-bottom: 2px solid #fff;
            }
        }
    }

    .ant-table-tbody {
        tr:nth-chlld(even) {
            background-color: #b1c5e7;
        }
        
        tr:nth-chlld(odd) {
            background-color: #d8e2f3;
        }
    }
}

.demos {
    [nz-carousel-content] {
        height: 300px;
        margin: 24px 0;
    }
}

[class$="-wrap"] {
    padding-left: 1rem;
    padding-right: 1rem;

    @media screen and (min-width: 992px) {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    @media screen and (min-width: 1200px) {
        padding-left: 10rem;
        padding-right: 10rem;
    }
}
