<div class="main-container">
    <div class="clearfix" id="product">
        <div id="cordex-product" class="product-wrap">
            <nz-affix>
                <div class="tab" style="background: #fff; padding: 10px 0;" nz-row nzType="flex" [nzGutter]="nzGutter"
                    nzJustify="start" nzAlign="middle">
                    <div nz-col *ngFor="let tab_camera_detail of tabs; let i=index" [ngStyle]="tab_camera_detail.style"
                        [ngClass]="tab_camera_detail.active ? 'active' : 'inactive'" (click)="tab_camera_detail.click()">
                        <img [src]="tab_camera_detail.img" alt="">
                        <p>{{('tab_camera_detail.name'+i)|translate}}</p>
                    </div>
                </div>
            </nz-affix>
            <div class="tab-content">
                <div nz-row nzType="flex" [nzGutter]="nzGutter" nzJustify="start" *ngFor="let tab of tabs; let j=index">
                    <ng-container *ngIf="tab.id && tab.content">
                        <div nz-col nzSpan="24" [ngStyle]="tab.active ? open: null" id="{{tab.id}}" class="tab-hide">
                            <div nz-row nzType="flex" [nzGutter]="nzGutter" nzJustify="space-between">
                                <div nz-col nzXs="24" nzSm="24" nzMd="16">
                                    <h3>{{'tab.content.cover.left.title'|translate}}</h3>
                                    <p *ngFor="let p_camera_detail of tab.content.cover.left.paragraphs; let i=index">{{('p_camera_detail'+j+i)|translate}}</p>
                                </div>
                                <div nz-col nzXs="24" nzSm="24" nzMd="8">
                                    <img [src]="tab.content.cover.right.img" alt="">
                                </div>
                            </div>
                            <div id="feature-{{tab.id}}" class="tab" nz-row nzType="flex" nzJustify="start"
                                nzAlign="middle" style="background: #ffa500; margin-top: 2em;">
                                <div nz-col nzSpan="4" *ngFor="let tab_camera_detail of secondTabs; let i=index" [ngStyle]="tab_camera_detail.style"
                                    [ngClass]="(tab_camera_detail.active || tab_camera_detail.id === 0) ?  'active' : 'inactive'"
                                    (click)="tab_camera_detail.click()">
                                    <p style="color: #fff; text-align: center;">{{('tab_camera_detail.name'+j+i)|translate}}</p>
                                </div>
                            </div>

                            <div class="features">
                                <ng-container *ngIf="tab.id === 'toughpix-digiherm'">
                                    <nz-table nzBordered>
                                        <thead>
                                            <tr>
                                                <th [attr.colspan]="2" nzWidth="300px">
                                                    {{'MÔI TRƯỜNG_trs'|translate}}
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>{{'Nhiệt độ hoạt động_trs'|translate}}</td>
                                                <td translate>Tamb -10°C to +40°C</td>
                                            </tr>
                                        </tbody>
                                    </nz-table>
                                    <nz-table nzBordered>
                                        <thead>
                                            <tr>
                                                <th [attr.colspan]="2" nzWidth="300px">
                                                    {{'THÔNG TIN CHUNG_trs'|translate}}
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td translate>Tải hình ảnh_trs</td>
                                                <td>
                                                    High Speed removable memory card with USB (safe area only) & CorDEX
                                                    Wireless Android App
                                                </td>
                                            </tr>
                                            <tr>
                                                <td translate>Dung lượng1_trs</td>
                                                <td>4GB</td>
                                            </tr>
                                            <tr>
                                                <td translate>Độ phân giải tiêu chuẩn_trs</td>
                                                <td>5 Megapixel </td>
                                            </tr>
                                            <tr>
                                                <td translate>Kích thước màn hình_trs</td>
                                                <td>2.8 inches</td>
                                            </tr>
                                        </tbody>
                                    </nz-table>
                                    <nz-table nzBordered>
                                        <thead>
                                            <tr>
                                                <th [attr.colspan]="2" nzWidth="300px" translate>
                                                    {{'THÔNG TIN CHI TIẾT_trs'|translate}}
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>{{'Vật liệu thấu kính & màn hình LCD_trs'|translate}}
                                                </td>
                                                <td>
                                                    Armoured Glass

                                                </td>
                                            </tr>
                                            <tr>
                                                <td >{{'Trọng lượng_trs'|translate}}
                                                </td>
                                                <td>380g
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>{{'Tiêu chuẩn_trs'|translate}}
                                                </td>
                                                <td>54 </td>
                                            </tr>
                                            <tr>
                                                <td>{{'Vật liệu khung máy_trs'|translate}}
                                                </td>
                                                <td>Anodized aluminum with polymeric materials
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>{{'Kích thước_trs'|translate}}
                                                </td>
                                                <td>Length: 113mm Height: 76mm Width: 45mm
                                                </td>
                                            </tr>
                                        </tbody>
                                    </nz-table>
                                    <nz-table nzBordered>
                                        <thead>
                                            <tr>
                                                <th [attr.colspan]="2" nzWidth="300px" translate>
                                                    {{'THÔNG TIN NGUỒN_trs'|translate}}
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>{{'Loại pin_trs'|translate}} </td>
                                                <td>TRemovable & Rechargeable Ex Power Battery</td>
                                            </tr>
                                            <tr>
                                                <td translate>Dung lượng2_trs</td>
                                                <td>1900mAh </td>
                                            </tr>
                                            <tr>
                                                <td>{{'Loại cell pin_trs'|translate}}</td>
                                                <td>Lithium Ion</td>
                                            </tr>
                                        </tbody>
                                    </nz-table>
                                    <nz-table nzBordered>
                                        <thead>
                                            <tr>
                                                <th [attr.colspan]="2" nzWidth="300px" translate>
                                                    {{'KHẢ NĂNG CHỤP ẢNH NHIỆT_trs'|translate}}
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td translate>Cảm biến_trs</td>
                                                <td>80x60 Pixel Array</td>
                                            </tr>
                                            <tr>
                                                <td>{{'Hình ảnh_trs'|translate}}</td>
                                                <td>Adaptive thermal blending for dual mode imaging</td>
                                            </tr>
                                            <tr>
                                                <td translate>Độ chính xác dải nhiệt thấp_trs</td>
                                                <td>-10°C to +140°C with +/-2°C or +/-2% accuracy</td>
                                            </tr>
                                            <tr>
                                                <td translate>Độ chính xác dải nhiệt cao_trs</td>
                                                <td>-10°C to +380°C with +/-5°C or +/-5% accuracy</td>
                                            </tr>
                                        </tbody>
                                    </nz-table>
                                </ng-container>
                                <ng-container *ngIf="tab.id === 'infrared-camera-tc7150'">
                                    <nz-table nzBordered>
                                        <thead>
                                            <tr>
                                                <th [attr.colspan]="2" nzWidth="300px">
                                                    {{'THÔNG TIN NHIỆT ĐỘ_trs'|translate}}
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td translate>Dải đo nhiệt độ_trs</td>
                                                <td>-4°F to 1112°F (-20°C to +600°C)</td>
                                            </tr>
                                            <tr>
                                                <td translate>Độ chính xác_trs</td>
                                                <td>± 2°C or 2% of reading</td>
                                            </tr>
                                        </tbody>
                                    </nz-table>
                                    <nz-table nzBordered>
                                        <thead>
                                            <tr>
                                                <th [attr.colspan]="2" nzWidth="300px">
                                                    {{'HÌNH ẢNH_trs'|translate}}
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td translate>Tần số ảnh nhiệt_trs</td>
                                                <td>9 Hz</td>
                                            </tr>
                                            <tr>
                                                <td translate>Cảm biến_trs</td>
                                                <td>4GB</td>
                                            </tr>
                                            <tr>
                                                <td translate>Độ phân giải tiêu chuẩn_trs</td>
                                                <td>320 x 240 uncooled microbolometer</td>
                                            </tr>
                                            <tr>
                                                <td translate>Độ nhạy nhiệt/NETD_trs</td>
                                                <td>50mK</td>
                                            </tr>
                                            <tr>
                                                <td translate>Dải sóng hồng ngoại đo được_trs</td>
                                                <td>8μm to 14μm </td>
                                            </tr>
                                            <tr>
                                                <td translate>Trường nhìn(FOV)_trs</td>
                                                <td>25° x 20.5°</td>
                                            </tr>
                                            <tr>
                                                <td translate>Trường nhìn (IFOV)_trs</td>
                                                <td>1.38 mrad</td>
                                            </tr>
                                            <tr>
                                                <td translate>Khoảng cách quan sát tối thiểu_trs</td>
                                                <td>≈ 4” (10cm) </td>
                                            </tr>
                                            <tr>
                                                <td translate>Thấu kính_trs</td>
                                                <td>F 1.2</td>
                                            </tr>
                                        </tbody>
                                    </nz-table>
                                    <nz-table nzBordered>
                                        <thead>
                                            <tr>
                                                <th [attr.colspan]="2" nzWidth="300px">
                                                    {{'GHI NHẬN HÌNH ẢNH_trs'|translate}}
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td translate>Dung lượng1_trs</td>
                                                <td>8GB</td>
                                            </tr>
                                            <tr>
                                                <td translate>Định dạng_trs</td>
                                                <td>CDX (Radiometric) JPEG (Non-radiometric)</td>
                                            </tr>
                                            <tr>
                                                <td translate>Ghi chú bằng giọng nói_trs</td>
                                                <td>Yes</td>
                                            </tr>
                                            <tr>
                                                <td translate>Đọc thẻ RFID_trs</td>
                                                <td>
                                                    <ul>
                                                        <li>Operates with 13.54MHz passive tags</li>
                                                        <li>Detection range up to 5cm (1.9in)</li>
                                                        <li>Supports ISO/IEC15693-2,ISO/IEC18000-3 tag formats</li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </nz-table>
                                    <nz-table nzBordered>
                                        <thead>
                                            <tr>
                                                <th [attr.colspan]="2" nzWidth="300px">
                                                    {{'THÔNG SỐ CHUNG_trs'|translate}}
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td translate>Nhiệt độ hoạt động_trs</td>
                                                <td>-4°F to 104°F (-20°C to +40°C) </td>
                                            </tr>
                                            <tr>
                                                <td translate>Nhiệt độ lưu trữ_trs</td>
                                                <td>-40°F to +158°F (-40°C to +70°C)</td>
                                            </tr>
                                            <tr>
                                                <td translate>Hiển thị_trs</td>
                                                <td>3.2” Backlit LCD</td>
                                            </tr>
                                            <tr>
                                                <td translate>Phần mềm_trs</td>
                                                <td>CorDEX CONNECT (Included) </td>
                                            </tr>
                                            <tr>
                                                <td translate>Pin nguồn_trs</td>
                                                <td>Rechargeable Lithium-ion</td>
                                            </tr>
                                        </tbody>
                                    </nz-table>
                                </ng-container>
                            </div>
                            <div id="certificate-{{tab.id}}" class="tab" nz-row nzType="flex" nzJustify="start"
                                nzAlign="middle" style="background: #ffa500; margin-top: 2em;">
                                <div nz-col nzSpan="4" *ngFor="let tab_camera_detail of secondTabs; let i=index" [ngStyle]="tab_camera_detail.style"
                                    [ngClass]="(tab_camera_detail.active || tab_camera_detail.id === 1) ?  'active' : 'inactive'"
                                    (click)="tab_camera_detail.click()">
                                    <p style="color: #fff; text-align: center;">{{('tab_camera_detail.name'+j+i)|translate}}</p>
                                </div>
                            </div>
                            <div class="certificates"
                                [ngStyle]="{'height': tab.id === 'toughpix-digiherm' ? '300px' : 'auto'}">
                                <ng-container *ngIf="tab.id === 'infrared-camera-tc7150'">
                                    <nz-table nzBordered>
                                        <thead>
                                            <tr>
                                                <th [attr.colspan]="2" nzWidth="300px">
                                                    {{'THÔNG TIN CHỨNG CHỈ_trs'|translate}}
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>MET Listing No.</td>
                                                <td>E113607</td>
                                            </tr>
                                            <tr>
                                                <td>MET (North American) Certificate Type</td>
                                                <td>Class 1, Division 2 Groups B,C,D</td>
                                            </tr>
                                        </tbody>
                                    </nz-table>
                                </ng-container>
                            </div>
                            <div id="demo-{{tab.id}}" class="tab" nz-row nzType="flex" nzJustify="start"
                                nzAlign="middle" style="background: #ffa500; margin-top: 2em;">
                                <div nz-col nzSpan="4" *ngFor="let tab_camera_detail of secondTabs; let i=index" [ngStyle]="tab_camera_detail.style"
                                    [ngClass]="(tab_camera_detail.active || tab_camera_detail.id === 2) ?  'active' : 'inactive'"
                                    (click)="tab_camera_detail.click()">
                                    <p style="color: #fff; text-align: center;">{{('tab_camera_detail.name'+j+i)|translate}}</p>
                                </div>
                            </div>
                            <div class="demos">
                                <div nz-row nzType="flex" [nzGutter]="nzGutter" nzJustify="center" nzAlign="middle">
                                    <div nz-col nzSpan="12">
                                        <nz-carousel nzAutoPlay nzEffect="fade">
                                            <div nz-carousel-content *ngFor="let img of tab.content.detail.demo.img">
                                                <img [src]="img" alt="">
                                            </div>
                                        </nz-carousel>
                                    </div>
                                </div>
                                <div nz-row nzType="flex" [nzGutter]="nzGutter" nzJustify="center" nzAlign="middle">
                                    <div nz-col nzSpan="12">
                                        <video width="100%" height="320" controls>
                                            <source [src]="tab.content.detail.demo.video" type="video/mp4">
                                        </video>
                                    </div>
                                </div>
                            </div>
                            <div id="document-{{tab.id}}" class="tab" nz-row nzType="flex" nzJustify="start"
                                nzAlign="middle" style="background: #ffa500; margin-top: 2em;">
                                <div nz-col nzSpan="4" *ngFor="let tab_camera_detail of secondTabs; let i=index" [ngStyle]="tab_camera_detail.style"
                                    [ngClass]="(tab_camera_detail.active || tab_camera_detail.id === 3) ? 'active' : 'inactive'"
                                    (click)="tab_camera_detail.click()">
                                    <p style="color: #fff; text-align: center;">{{('tab_camera_detail.name'+j+i)|translate}}</p>
                                </div>
                            </div>
                            <div class="documents">
                                <p *ngFor="let document of tab.content.detail.documents">
                                    {{document}}
                                </p>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>
