<div class="" id="partners" style="background-color: white;">
    <div class="banner">
        <div class="card card-img">
            <img class="img-fluid" src="assets/images/partners/Handshake.jpg"
                alt="Nhat Ha's vision, mission and value." />
            <div class="bottom-left">
                    <h2>NƠI ĐỐI TÁC KHÔNG CHỈ LÀ BẠN HỮU</h2>
            </div>
        </div>
    </div>
    <div class="container py-5" >
        <div class="row" *ngFor="let parner of Parners; let i =index">
            <div class="col-3">
                <img class="img-fluid" [src]="parner.path" alt="">
            </div>
            <div class="col-9">
                <h4>{{parner.title}}</h4>
                <p>{{parner.content}}</p>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-3">
                <img class="img-fluid" src="assets/images/abb-logo.png" alt="">
            </div>
            <div class="col-9">
                <h4>ABB Viet Nam</h4>
                <p>Partnership: Testing & Maintenance, Equipment Installation, Power Quality Solutions</p>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <img class="img-fluid" src="assets/images/schneider-logo.png" alt="">
            </div>
            <div class="col-9">
                <h4>Schneider Viet Nam</h4>
                <p>Partnership: Testing & Maintenance, Equipment Installation, Power Quality Solutions</p>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <img class="img-fluid" src="assets/images/emerson-logo.png" alt="">
            </div>
            <div class="col-9">
                <h4>Emerson</h4>
                <p>Partnership: Intellisaw Wireless Continuous Monitoring Solution for Temperature – Humidity – Partial
                    Discharge
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <img class="img-fluid" src="assets/images/cordex-logo.png" alt="">
            </div>
            <div class="col-9">
                <h4>CorDEX</h4>
                <p>Partnership: Infrared Window, Infrared Camera, Intrinsic Safety Equipment </p>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <img class="img-fluid" src="assets/images/iriss-logo.png" alt="">
            </div>
            <div class="col-9">
                <h4>IRISS</h4>
                <p>Partnership: Infrared Window, Sonus Ultrasound – PD Tester, Delta T Thermal Monitoring System, E
                    Sentry Tagging
                </p>
            </div>
        </div> -->
    </div>
</div>
