<div class="" id="partners">
    <div class="banner">
        <div class="card card-img">
            <img class="img-fluid" src="assets/images/partners/Handshake.jpg"
                alt="Nhat Ha's vision, mission and value." />
            <div class="bottom-left">
                <h1>NƠI ĐỐI TÁC KHÔNG CHỈ LÀ BẠN HỮU</h1>
            </div>
        </div>
    </div>
    <div class="container py-5">
        <div class="row">
            <div class="col-4">
                <img class="img-fluid" src="assets/images/abb-logo.png" alt="">
            </div>
            <div class="col-8">
                <h6>ABB Viet Nam</h6>
                <p>Partnership: Testing & Maintenance, Equipment Installation, Power Quality Solutions</p>

            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img class="img-fluid" src="assets/images/schneider-logo.png" alt="">
            </div>
            <div class="col-8">
                <h6>Schneider Viet Nam</h6>
                <p>Partnership: Testing & Maintenance, Equipment Installation, Power Quality Solutions</p>

            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img class="img-fluid" src="assets/images/emerson-logo.png" alt="">
            </div>
            <div class="col-8">

                <h6>Emerson</h6>
                <p>Partnership: Intellisaw Wireless Continuous Monitoring Solution for Temperature – Humidity – Partial
                    Discharge</p>

            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img class="img-fluid" src="assets/images/cordex-logo.png" alt="">
            </div>
            <div class="col-8">
                <h6>CorDEX</h6>
                <p>Partnership: Infrared Window, Infrared Camera, Intrinsic Safety Equipment </p>

            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img class="img-fluid" src="assets/images/iriss-logo.png" alt="">
            </div>
            <div class="col-8">

                <h6>IRISS</h6>
                <p>Partnership: Infrared Window, Sonus Ultrasound – PD Tester, Delta T Thermal Monitoring System, E
                    Sentry Tagging</p>

            </div>
        </div>
    </div>
</div>
