.my-partners img {
    margin-left: -1.3vw;
    margin-right: -1.3vw;
    width: 100vw;
    height: 120vh;
    background-position: center center;
    background-repeat: no-repeat; 
    object-fit: cover;
}
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
.bottom-left h1{
    color: aliceblue;
}
  .my-partners{
    position: relative;
  }
#partners {
    display: flex;
    flex-direction: column;
    flex: 1;
    .banner {
        width: 100%;
    }
}
