.my-engineering-location{
    background-color:#68a3da;
}

.my-card-deck{
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}
.my-card{
    background: transparent;
    box-shadow: none;
}
.my-card img{
    //width: 18vw;
    //height: 18vw;
    background-position: center center;
    background-repeat: no-repeat; 
}

.carousel-inner img {
    width: 100vw;
    height: 70vh;
    background-position: center center;
    background-repeat: no-repeat; 
    object-fit: cover;
}

.my-engineering-location{
    .my-card p{
        text-align: center;
        color: aliceblue;
    }
}
.my-poduct-location{    
    .my-card p {
        text-align: center;
        color: blue;
    }
    .my-card img{
        width: 30vw;
        height: 18vw;
        background-position: center center;
        background-repeat: no-repeat;
        object-fit: cover
    }
}
