<div class="myHome">
    <div id="demo" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
          <li data-target="#demo" data-slide-to="3"></li>
          <li data-target="#demo" data-slide-to="4"></li>
          <li data-target="#demo" data-slide-to="5"></li>
        </ul>
        
        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active ">
            <img src="../../../assets/images/home/banner/banner1.jpg" class="img-fluid">
          </div>
          <div class="carousel-item " >
            <img src="../../../assets/images/home/banner/banner2.jpg" class="img-fluid">
          </div>
          <div class="carousel-item ">
            <img src="../../../assets/images/home/banner/banner3.jpg" class="img-fluid">
          </div>
          <div class="carousel-item ">
            <img src="../../../assets/images/home/banner/banner4.jpg" class="img-fluid">
          </div>
          <div class="carousel-item ">
            <img src="../../../assets/images/home/banner/banner5.jpg" class="img-fluid">
          </div>
          <div class="carousel-item ">
            <img src="../../../assets/images/home/banner/banner6.jpg" class="img-fluid">
          </div>
        </div>
        
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
    </div>
    <div class="my-engineering-location">
        <h1 style="text-align: center ; color: aliceblue; padding-top: 20px">Dịch Vụ Kỹ Thuật</h1>
        <div class="card-deck my-card-deck">
            <div class="card my-card">
                <img class="card-img-top img-thumbnail" src="../../../assets/images/home/services/service1.jpg" alt="Card image">
                <div class="card-body">
                    <p class="card-text">Phân tích Hệ Thống Điện</p>
                </div>
            </div>
            <div class="card my-card">
                <img class="card-img-top img-thumbnail" src="../../../assets/images/home/services/service2.jpg" alt="Card image">
                <div class="card-body">
                    <p class="card-text">Thử Nghiệm Và Nghiệm Thu</p>
                </div>
            </div>
            <div class="card my-card">
                <img class="card-img-top img-thumbnail" src="../../../assets/images/home/services/service3.jpg" alt="Card image">
                <div class="card-body">
                    <p class="card-text">Phân Tích Chất Lượng Điện</p>
                </div>
            </div>
            <div class="card my-card">
                <img class="card-img-top img-thumbnail" src="../../../assets/images/home/services/service4.jpg" alt="Card image">
                <div class="card-body">
                    <p class="card-text">Bảo Trì Ngăn Ngừa</p>
                </div>
            </div>
            <div class="card my-card">
                <img class="card-img-top img-thumbnail" src="../../../assets/images/home/services/service5.jpg" alt="Card image">
                <div class="card-body">
                    <p class="card-text">Bảo Trì Theo Tình Trạng</p>
                </div>
            </div>
        </div>
    </div>
    <div class="my-poduct-location">
        <h1 style="text-align: center ; color:#007bff; padding-top: 20px">Sản Phẩm</h1>
        <div>
            <div class="card-deck my-card-deck">
                <div class="card my-card">
                        <img class="card-img-top img-thumbnail" src="../../../assets/images/home/products/product1.jpg" alt="Card image">
                        <div class="card-body">
                            <p class="card-text">Cửa Sổ Hồng Ngoại                                </p>
                        </div>
                </div>
                <div class="card my-card">
                        <img class="card-img-top img-thumbnail" src="../../../assets/images/home/products/product2.jpg" alt="Card image">
                        <div class="card-body">
                            <p class="card-text">Máy Giám Sát Tình Trạng Thiết Bị</p>
                        </div>
                </div>
                <div class="card my-card">
                        <img class="card-img-top img-thumbnail" src="../../../assets/images/home/products/product3.jpg" alt="Card image">
                        <div class="card-body">
                            <p class="card-text">Giải Pháp Giám Sát Liên Tục Tình Trạng Thiết Bị</p>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
