<div class="main-container">
    <div class="clearfix" id="product">
        <div id="cordex-product" class="product-wrap">
            <nz-affix>
                <div class="tab" style="background: #fff; padding: 10px 0;" nz-row nzType="flex" [nzGutter]="nzGutter"
                    nzJustify="start" nzAlign="middle">
                    <div nz-col *ngFor="let tab of tabs" [ngStyle]="tab.style" (click)="tab.click()">
                        <img [src]="tab.img" alt="">
                        <p>{{tab.name}}</p>
                    </div>
                </div>
            </nz-affix>
            <div class="tab-content">
                <div id="cover" nz-row nzType="flex" [nzGutter]="nzGutter" nzJustify="space-between" nzAlign="top">
                    <div nz-col nzXs="24" nzSm="24" nzMd="14">
                        <ng-container *ngFor="let paragraph of content.cover.paragraphs">
                            <h3>{{paragraph[0]}}</h3>
                            <p>{{paragraph[1]}}</p>
                        </ng-container>
                    </div>
                    <div nz-col nzXs="24" nzSm="24" nzMd="10">
                        <img [src]="content.cover.img" [alt]="">
                    </div>
                </div>

                <div id="cordex-feature" class="tab" nz-row nzType="flex" nzJustify="start" nzAlign="middle"
                    style="background: #ffa500; margin-top: 2em;">
                    <div nz-col nzSpan="4" *ngFor="let tab of secondTabs" [ngStyle]="tab.style"
                        [ngClass]="(tab.active || tab.id === 0) ?  'active' : 'inactive'" (click)="tab.click()">
                        <p style="color: #fff; text-align: center;">{{tab.name}}</p>
                    </div>
                </div>

                <div class="cordex-feature" class="tab" nz-row nzType="flex" nzJustify="start" nzAlign="middle">
                    <div nz-col nzSpan="24">
                        <nz-table nzBordered>
                            <thead>
                                <tr>
                                    <th nzWidth="300px" [attr.colspan]="2">KHẢ NĂNG CHỤP ẢNH NHIỆT</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Độ phân giải ảnh nhiệt</td>
                                    <td>80x60 pixels (4800 measuring points) </td>
                                </tr>
                                <tr>
                                    <td>Khẩu độ</td>
                                    <td>Fixed</td>
                                </tr>
                                <tr>
                                    <td>Trường nhìn (FOV)</td>
                                    <td>63° Diagonal</td>
                                </tr>
                                <tr>
                                    <td>Dải hồng ngoại</td>
                                    <td>8-14µm, &lt; 50mK [NETD]</td>
                                </tr>
                            </tbody>
                        </nz-table>
                        <nz-table nzBordered>
                            <thead>
                                <tr>
                                    <th nzWidth="300px" [attr.colspan]="2">KHẢ NĂNG CHỤP ẢNH THƯỜNG</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Độ phân giải ảnh thường</td>
                                    <td>640x480 pixels</td>
                                </tr>
                                <tr>
                                    <td>Chiếu sáng</td>
                                    <td>LED Flash [800 lumens]</td>
                                </tr>
                                <tr>
                                    <td>Trường nhìn (FOV)</td>
                                    <td>63° Diagonal</td>
                                </tr>
                                <tr>
                                    <td>Độ sáng hoạt động</td>
                                    <td>1.0 lux without illuminator</td>
                                </tr>
                            </tbody>
                        </nz-table>
                        <nz-table nzBordered>
                            <thead>
                                <tr>
                                    <th nzWidth="300px" [attr.colspan]="2">THÔNG SỐ ĐO</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Dải</td>
                                    <td>10°C to 120°C</td>
                                </tr>
                                <tr>
                                    <td>Đơn vị</td>
                                    <td>Celsius, Fahrenheit</td>
                                </tr>
                                <tr>
                                    <td>Độ chính xác</td>
                                    <td>+/- 2°C or +/- 2%</td>
                                </tr>
                                <tr>
                                    <td>Điều chỉnh hằng số phát xạ</td>
                                    <td>Fixed to 1.0</td>
                                </tr>
                            </tbody>
                        </nz-table>
                        <nz-table nzBordered>
                            <thead>
                                <tr>
                                    <th nzWidth="300px" [attr.colspan]="2">HÌNH ẢNH VÀ TRUY XUẤT DỮ LIỆU</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Kết nối</td>
                                    <td>Web i/f or via Modbus/TCP</td>
                                </tr>
                                <tr>
                                    <td>Màn hình LCD</td>
                                    <td>QVGA [320x240], 2.4 inch</td>
                                </tr>
                                <tr>
                                    <td>Tốc độ cập nhật</td>
                                    <td>Continuous [1Hz]</td>
                                </tr>
                                <tr>
                                    <td>Định dạng ảnh nhiệt</td>
                                    <td>BMP file and spot access</td>
                                </tr>
                                <tr>
                                    <td>Định dạng ảnh thường</td>
                                    <td>JPEG</td>
                                </tr>
                            </tbody>
                        </nz-table>
                        <nz-table nzBordered>
                            <thead>
                                <tr>
                                    <th nzWidth="300px" [attr.colspan]="2">NGUỒN VÀ GIAO TIẾP TRUYỀN THÔNG</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Nguồn cấp</td>
                                    <td>12/24Vdc [2W, 3Wpeak]</td>
                                </tr>
                                <tr>
                                    <td>Dải điện áp cấp nguồn</td>
                                    <td>11Vdc to 30Vdc</td>
                                </tr>
                                <tr>
                                    <td>Đầu kết nối</td>
                                    <td>
                                        3.81mm plug [3-pin]
                                        <br />
                                        For: Vin, Vchassis, GND
                                    </td>
                                </tr>
                                <tr>
                                    <td>Truyền thông</td>
                                    <td>Modbus over Ethernet</td>
                                </tr>
                                <tr>
                                    <td>Đầu kết nối Ethernet</td>
                                    <td>RJ45</td>
                                </tr>
                                <tr>
                                    <td>Chuẩn Ethernet</td>
                                    <td>IEEE802.3, 10/100Mbps</td>
                                </tr>
                            </tbody>
                        </nz-table>
                    </div>
                </div>

                <div id="cordex-certificate" class="tab" nz-row nzType="flex" nzJustify="start" nzAlign="middle"
                    style="background: #ffa500; margin-top: 2em;">
                    <div nz-col nzSpan="4" *ngFor="let tab of secondTabs" [ngStyle]="tab.style"
                        [ngClass]="(tab.active || tab.id === 1) ?  'active' : 'inactive'" (click)="tab.click()">
                        <p style="color: #fff; text-align: center;">{{tab.name}}</p>
                    </div>
                </div>

                <div class="cordex-certificate" style="height: 300px;" nz-row nzType="flex" nzJustify="start"
                    nzAlign="middle">
                    <div nz-col nzSpan="24">

                    </div>
                </div>

                <div id="cordex-demo" class="tab" nz-row nzType="flex" nzJustify="start" nzAlign="middle"
                    style="background: #ffa500; margin-top: 2em;">
                    <div nz-col nzSpan="4" *ngFor="let tab of secondTabs" [ngStyle]="tab.style"
                        [ngClass]="(tab.active || tab.id === 2) ?  'active' : 'inactive'" (click)="tab.click()">
                        <p style="color: #fff; text-align: center;">{{tab.name}}</p>
                    </div>
                </div>

                <div class="cordex-demo" nz-row nzType="flex" nzJustify="center" nzAlign="middle">
                    <div nz-col nzSpan="12">
                        <nz-carousel nzAutoPlay nzEffect="fade">
                            <div nz-carousel-content *ngFor="let img of content.detail.demos.img">
                                <img [src]="img" alt="">
                            </div>
                        </nz-carousel>
                    </div>
                </div>
                <div class="cordex-demo" nz-row nzType="flex" nzJustify="center" nzAlign="middle">
                    <div nz-col nzSpan="12">
                        <video width="100%" height="320" controls>
                            <source [src]="content.detail.demos.video" type="video/3gp">
                        </video>
                    </div>
                </div>
                <div id="cordex-document" class="tab" nz-row nzType="flex" nzJustify="center" nzAlign="middle"
                    style="background: #ffa500; margin-top: 2em;">
                    <div nz-col nzSpan="4" *ngFor="let tab of secondTabs" [ngStyle]="tab.style"
                        [ngClass]="(tab.active || tab.id === 3) ?  'active' : 'inactive'" (click)="tab.click()">
                        <p style="color: #fff; text-align: center;">{{tab.name}}</p>
                    </div>
                </div>
                <div class="cordex-document" nz-row nzType="flex" nzJustify="start" nzAlign="middle">
                    <div nz-col nzSpan="24">
                        <p *ngFor="let document of content.detail.documents">{{document}}</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
