<div class="main-container">
    <div class="clearfix" id="service">
        <div class="service-wrap">
            <div class="clearfix" id="banner" nz-row nzType="flex" nzJustify="space-between" nzAlign="middle">
                <div class="banner" nz-col nzSpan="24" *ngFor="let banner of service.data.banners">
                    <img [src]="banner" [alt]="service.name">
                </div>
            </div>
            <div class="clearfix" id="subject" nz-row nzType="flex" nzJustify="space-between" nzAlign="middle">
                <div class="subject" nz-col nzSpan="24">
                    <h1 translate>{{'service.data.subjectpowerSystem'}}</h1>
                </div>
            </div>
            <div class="clearfix" id="body">
                <div class="body" nz-row nzType="flex" nzJustify="space-between" nzAlign="middle"
                    *ngFor="let bodypowerSystem of service.data.body; let i=index;">
                    <div nz-col nzSpan="24">
                        <h3 class="title">{{('bodypowerSystem.title'+i)|translate}}</h3>
                        <div *ngIf="bodypowerSystem.contentType === 0" class="content">
                            <p *ngFor="let contentpowerSystem of bodypowerSystem.contents;let j=index;">
                                {{('contentpowerSystem'+i+j)|translate}}
                            </p>
                        </div>
                        <div *ngIf="bodypowerSystem.contentType === 1" class="content">
                            <ul>
                                <li *ngFor="let content of bodypowerSystem.contents;let j=index">
                                    {{('contentpowerSystem'+i+j)|translate}}
                                </li>
                            </ul>
                        </div>
                        <div nz-row nzType="flex" nzJustify="center" nzAlign="middle"
                        *ngIf="bodypowerSystem.figures.length > 0">
                            <div class="figure" nz-col nzXs="24" nzSm="24" nzMd="10" *ngFor='let figure of bodypowerSystem.figures'>
                                <img [src]="figure" [alt]="bodypowerSystem.title">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix" id="footer">
                <p translate>{{'service.data.footer.title'}}</p>
                <div class="link" nz-row nzType="flex" nzJustify="space-between" nzAlign="middle"
                *ngFor="let link of service.data.footer.links; let i=index">
                    <div nz-col nzXs="24" nzSm="24" nzMd="4">
                        <img [src]="link.img" [alt]="link.title">
                    </div>
                    <div nz-col nzXs="24" nzSm="24" nzMd="20">
                        <a routerLink="{{link.href}}">{{('link.title'+i)|translate}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
