<div class="" id="softwares">
    <div class="banner">
        <div class="card card-img">
            <img class="img-fluid" src="assets/images/supports/01/Engineering Softwares.jpg"
                alt="Nhat Ha's vision, mission and value." />
        </div>
    </div>
    <div class="container py-5">
        <div class="row">
            <div class="col-4">
                <img class="img-fluid" src="assets/images/abb-logo.png" alt="">
            </div>
            <div class="col-8">
                <h6>e-Design Suite</h6>
                <p>e-Design, the new engineering software suite makes it possible to design an electrical system,
                    optimizing production times to the maximum.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img class="img-fluid" src="assets/images/abb-logo.png" alt="">
            </div>
            <div class="col-8">
                <h6>Protection and Control IED Manager (PCM600)</h6>
                <p>This easy-to-handle tool helps you to manage your protection and control equipment all the way from
                    application and communication configuration to disturbance handling.</p>

            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img class="img-fluid" src="assets/images/schneider-logo.png" alt="">
            </div>
            <div class="col-8">
                <h6>Ecodial Advance Calculation</h6>
                <p>Ecodial Advanced Calculation helps you optimize the choice of equipment and cost during electrical
                    installation design. With Ecodial, you can verify electrical network</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img class="img-fluid" src="assets/images/schneider-logo.png" alt="">
            </div>
            <div class="col-8">
                <h6>Sepam Protection Relay – SFT2841 & SFT2826</h6>
                <p>
                    SFT2841 is the configuration and operating software common to the entire Sepam range.
                    <br />
                    SFT2826 software allows Sepam fault recordings to be displayed, analysed and printed out.
                </p>

            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img class="img-fluid" src="assets/images/schneider-logo.png" alt="">
            </div>
            <div class="col-8">
                <h6>Easergy Studio</h6>
                <p>Easergy Studio simplifies your life when dealing with Easergy MiCOM Protection Relays and IEDs by
                    providing integrated configuration and monitoring features for all Easergy MiCOM devices.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img class="img-fluid" src="assets/images/siemens-logo.png" alt="">
            </div>
            <div class="col-8">
                <h6>SIMARIS Design</h6>
                <p>The software calculates the short-circuit current, load flow, voltage drop and the energy balance</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img class="img-fluid" src="assets/images/siemens-logo.png" alt="">
            </div>
            <div class="col-8">

                <h6>SIMARIS Curves</h6>
                <p>The software visualizes characteristic curves with tolerance bands as well as setting options of
                    specific parameters for low-voltage protective devices and fuses (IEC)</p>

            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img class="img-fluid" src="assets/images/siemens-logo.png" alt="">
            </div>
            <div class="col-8">

                <h6>DIGSI 4</h6>
                <p>With DIGSI 4, SIPROTEC devices are configured and evaluated – it is the tailored program for
                    industrial and energy distribution systems.</p>

            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img class="img-fluid" src="assets/images/siemens-logo.png" alt="">
            </div>
            <div class="col-8">

                <h6>SIGRA 4</h6>
                <p>lt is possible with SIGRA 4 to display records from digital protection units and fault recorders in
                    various views and measure them.</p>

            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img class="img-fluid" src="assets/images/qcad-logo.png" alt="">
            </div>
            <div class="col-8">

                <h6>QCAD</h6>
                <p>QCAD is a free, open source application for computer aided drafting (CAD) in two dimensions (2D).
                    With QCAD you can create technical drawings such as plans for buildings, interiors, mechanical parts
                    or schematics and diagrams.</p>

            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img class="img-fluid" src="assets/images/dialux-logo.png" alt="">
            </div>
            <div class="col-8">

                <h6>DIALux</h6>
                <p>DIAL develops DIALux - the world's leading software for planning, calculation and visualization of
                    indoor and outdoor lighting.</p>

            </div>
        </div>
    </div>
</div>
