<div class="main-container">
    <div class="clearfix" id="product">
        <div id="delta-t-product" class="product-wrap">
            <nz-affix>
                <div class="tab" style="background: #fff; padding: 10px 0;" nz-row nzType="flex" [nzGutter]="nzGutter"
                    nzJustify="start" nzAlign="middle">
                    <div nz-col *ngFor="let tab_delta of tabs; let i=index" [ngStyle]="tab_delta.style" (click)="tab_delta.click()">
                        <img [src]="tab_delta.img" alt="">
                        <p>{{('tab_delta.name'+i)|translate}}</p>
                    </div>
                </div>
            </nz-affix>
            <div class="tab-content">
                <div id="page-0" nz-row nzType="flex" [nzGutter]="nzGutter" nzJustify="space-between" nzAlign="middle">
                    <div nz-col nzXs="24" nzSm="24" nzMd="12">
                        <h2 translate>HỆ THỐNG GIÁM SÁT NHIỆT ĐỘ</h2>
                        <h1 translate>KHÔNG DÂY</h1>
                        <h3 translate>Giải Pháp Giám Sát Liên Tục Chênh Lệch Nhiệt Độ Của Thiết Bị</h3>
                        <h4 translate>Không cần nguồn, không dây và liên tục 24/7</h4>
                    </div>
                    <div nz-col nzXs="24" nzSm="24" nzMd="12">
                        <img src="assets/images/products/03/03/1.PNG" alt="SẢN PHẨM IRISS DELTA T">
                    </div>
                </div>
                <div id="page-1" nz-row nzType="flex" [nzGutter]="nzGutter" nzJustify="center" nzAlign="middle">
                    <div id="left" nz-col nzXs="24" nzSm="24" nzMd="8">
                        <ng-container *ngFor="let left_delta of content.page1.left; let i=index">
                            <h3>{{('left_delta[0]'+i)|translate}}</h3>
                            <p>{{('left_delta[1]'+i)|translate}}</p>
                        </ng-container>
                    </div>
                    <div id="center" nz-col nzXs="24" nzSm="24" nzMd="8">
                        <img [src]="content.page1.center" alt="">
                    </div>
                    <div id="right" nz-col nzXs="24" nzSm="24" nzMd="8">
                        <ng-container *ngFor="let right_delta of content.page1.right; let i=index">
                            <h3>{{('right[0]'+i)|translate}}</h3>
                            <p>{{('right[1]'+i)|translate}}</p>
                        </ng-container>
                    </div>
                </div>
                <div id="delta-t-feature" class="tab" nz-row nzType="flex" nzJustify="start" nzAlign="middle"
                    style="background: #4472c4; margin-top: 2em;">
                    <div nz-col nzSpan="4" *ngFor="let tab_delta_detail of secondTabs; let i=index" [ngStyle]="tab_delta_detail.style"
                        [ngClass]="(tab_delta_detail.active || tab_delta_detail.id === 0) ?  'active' : 'inactive'" (click)="tab_delta_detail.click()">
                        <p style="color: #fff; text-align: center;">{{('tab_delta_detail.name'+i)|translate}}</p>
                    </div>
                </div>

                <div class="delta-t-feature" class="tab" nz-row nzType="flex" nzJustify="start" nzAlign="middle">
                    <div nz-col nzSpan="24">
                        <nz-table nzBordered>
                            <thead>
                                <tr>
                                    <th nzWidth="300px" [attr.colspan]="2" >{{'TÍNH NĂNG'|translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td >{{'Sử dụng ngoài trời'|translate}}</td>
                                    <td>{{'Không'|translate}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{'Công nghệ không dây'|translate}}
                                    </td>
                                    <td translate>Z-Wave 5th Gen
                                    </td>
                                </tr>
                                <tr>
                                    <td >{{'Khoảng cách giao tiếp (điểm đến điểm)'|translate}}
                                    </td>
                                    <td translate>Up to 300 feet
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{'Kênh back-up'|translate}}
                                    </td>
                                    <td>{{'Có'|translate}}
                                    </td>
                                </tr>
                                <tr>
                                    <td >{{'Thời gian pin sử dụng'|translate}}
                                    </td>
                                    <td >{{'18-24 tháng'|translate}}
                                    </td>
                                </tr>
                                <tr>
                                    <td >{{'Nâng cấp trực tiếp online'|translate}}                                    </td>
                                    <td>{{'Có'|translate}}
                                    </td>
                                </tr>
                                <tr>
                                    <td >{{'Số lượng báo cáo hàng ngày'|translate}}
                                    </td>
                                    <td translate>Up to 8
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{'Báo cáo theo yêu cầu'|translate}}
                                    </td>
                                    <td>{{'Có'|translate}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{'Đèn hiển thị trạng thái'|translate}}
                                    </td>
                                    <td translate>Green, Red, Yellow
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{'Nhiệt độ hoạt động'|translate}}
                                    </td>
                                    <td translate>-40°C to +85°C / -40°F to +185°F

                                    </td>
                                </tr>
                                <tr>
                                    <td>{{'Độ chính xác nhiệt độ đo'|translate}}
                                    </td>
                                    <td translate>+/- 0.5°C
                                    </td>
                                </tr>
                            </tbody>
                        </nz-table>
                        <nz-table nzBordered>
                            <thead>
                                <tr>
                                    <th nzWidth="300px">{{'SẢN PHẨM'|translate}}</th>
                                    <th translate>{{'KÍCH THƯỚC'|translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Delta-T Alert</td>
                                    <td>2.75”W x 4.5”H x 1.0”D</td>
                                </tr>
                            </tbody>
                        </nz-table>
                        <nz-table nzBordered>
                            <thead>
                                <tr>
                                    <th nzWidth="300px">{{'VÙNG'|translate}}</th>
                                    <th>AMERICAS</th>
                                    <th>EMEA, BRAZIL</th>
                                    <th>APAC</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{'Tần số'|translate}}
                                    </td>
                                    <td>908.42 MHz </td>
                                    <td>868 MHz</td>
                                    <td>921.4 MHz</td>
                                </tr>
                            </tbody>
                        </nz-table>
                        <nz-table nzBordered>
                            <thead>
                                <tr>
                                    <th nzWidth="300px">{{'CẤU HÌNH TỐI THIỂU'|translate}}</th>
                                    <th>{{'BẮT BUỘC'|translate}}</th>
                                    <th>{{'KHUYẾN CÁO'|translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{'Hệ điều hành (Microsoft Only)'|translate}}
                                    </td>
                                    <td>Windows XP
                                    </td>
                                    <td>Windows 7 or higher
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{'Tốc độ vi xử lý'|translate}}
                                    </td>
                                    <td>500 MHz
                                    </td>
                                    <td>1 GHz</td>
                                </tr>
                                <tr>
                                    <td>RAM </td>
                                    <td>1 GB </td>
                                    <td>1 GB</td>
                                </tr>
                                <tr>
                                    <td>{{'Dung lượng ổ trống'|translate}}
                                    </td>
                                    <td>5 GB </td>
                                    <td>10 GB</td>
                                </tr>
                                <tr>
                                    <td>{{'Độ phân giải hiển thị'|translate}}
                                    </td>
                                    <td>800 x 600
                                    </td>
                                    <td>{{'800 x 600 hoặc hơn'|translate}}
                                    </td>
                                </tr>
                            </tbody>
                        </nz-table>
                    </div>
                </div>

                <div id="delta-t-certificate" class="tab" nz-row nzType="flex" nzJustify="start" nzAlign="middle"
                    style="background: #4472c4; margin-top: 2em;">
                    <div nz-col nzSpan="4" *ngFor="let tab_delta_detail of secondTabs; let i=index" [ngStyle]="tab_delta_detail.style"
                        [ngClass]="(tab_delta_detail.active || tab_delta_detail.id === 1) ?  'active' : 'inactive'" (click)="tab_delta_detail.click()">
                        <p style="color: #fff; text-align: center;">{{('tab_delta_detail.name'+i)|translate}}</p>
                    </div>
                </div>

                <div class="delta-t-certificate" class="tab" nz-row nzType="flex" nzJustify="start" nzAlign="middle">
                    <div nz-col nzSpan="24">
                    </div>
                </div>

                <div id="delta-t-demo" class="tab" nz-row nzType="flex" nzJustify="start" nzAlign="middle"
                    style="background: #4472c4; margin-top: 2em;">
                    <div nz-col nzSpan="4" *ngFor="let tab_delta_detail of secondTabs; let i=index" [ngStyle]="tab_delta_detail.style"
                        [ngClass]="(tab_delta_detail.active || tab_delta_detail.id === 2) ?  'active' : 'inactive'" (click)="tab_delta_detail.click()">
                        <p style="color: #fff; text-align: center;">{{('tab_delta_detail.name'+i)|translate}}</p>
                    </div>
                </div>

                <div class="delta-t-demo" nz-row nzType="flex" nzJustify="center" nzAlign="middle">
                    <div nz-col nzSpan="12">
                        <nz-carousel nzAutoPlay nzEffect="fade">
                            <div nz-carousel-content *ngFor="let img of content.detail.demos.img">
                                <img [src]="img" alt="">
                            </div>
                        </nz-carousel>
                    </div>
                </div>
                <div class="delta-t-demo" nz-row nzType="flex" nzJustify="center" nzAlign="middle">
                    <div nz-col nzSpan="12">
                        <video width="100%" height="320" controls>
                            <source [src]="content.detail.demos.video" type="video/mp4">
                        </video>
                    </div>
                </div>
                <div id="delta-t-document" class="tab" nz-row nzType="flex" nzJustify="center" nzAlign="middle"
                    style="background: #4472c4; margin-top: 2em;">
                    <div nz-col nzSpan="4" *ngFor="let tab_delta_detail of secondTabs;let i=index" [ngStyle]="tab_delta_detail.style"
                        [ngClass]="(tab_delta_detail.active || tab_delta_detail.id === 3) ?  'active' : 'inactive'" (click)="tab_delta_detail.click()">
                        <p style="color: #fff; text-align: center;">{{('tab_delta_detail.name'+i)|translate}}</p>
                    </div>
                </div>
                <div class="delta-t-document" nz-row nzType="flex" nzJustify="start" nzAlign="middle">
                    <div nz-col nzSpan="24">
                        <p *ngFor="let document of content.detail.documents">{{document}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
