<div class="" id="job-career">
    <div class="banner">
        <div class="card card-img">
            <img class="img-fluid" src="assets/images/careers/banner.png" alt="Nhat Ha's vision, mission and value." />
        </div>
    </div>
    <div class="container py-5">
        <div class="row">
            <div class="col-4">
                <img class="img-fluid" src="assets/images/careers/candidate.png" alt="">
            </div>
            <div class="col-8">
                <h5>WE ARE PROUD OF BUILDING YOUR CAREER</h5>
                <p>At Nhat Ha we treat each other like family, because our team is the foundation for our success. We’re
                    focused on building a collaborative workplace based on trust, integrity, and support for one
                    another.</p>
                <p>We often give opportunities to young Electrical and Automation Engineers with 1 – 2 years experience.
                </p>
                <p>If you’re searching for a career that’s built to last, take a look at the opportunities with Nhat
                    Ha. </p>
                <button class="btn btn-primary">Current Opportunities</button>
            </div>
        </div>
    </div>
</div>
