<div class="" id="our-equipment">
    <div class="container py-5">
        <div class="card card-img">
            <img class="img-fluid" src="assets/images/company/equipments/Megger Testing Equipment.jpg"
                alt="Nhat Ha's vision, mission and value." />
        </div>


        <div class="card">
            <div class="card-body pt-3">
                <div class="row">
                    <div class="col-4">
                        <div class="card card-img">
                            <img class="img-fluid"
                                src="assets/images/company/equipments/Siemens - MV Switchgear Station.jpg"
                                alt="Tầm nhìn chiến lược." />
                        </div>
                    </div>
                    <div class="col-8">
                        <p>
                            <strong>Testing Equipment:</strong> Manta MTS 1710, Programma Sverker 780, Megger MPRT 8415,
                            Vanguard EZCT-2000, HV Hipot CT/PT Tester, Chauvin 8510, Vanguard ATRT-03B, Megger MOM200,
                            HV Hipot GDH-100, Megger BM5200, Fluke 1550B, Kyoritsu 3124, EuroSMC PME-500-TR, Sonel
                            MRU-200, KEP HVTS-70/50, HV Hipot VLF Tester, Hioki 3555, Goldsol C & DF Tester
                        </p>
                        <p>
                            <strong>Maintenance Equipment:</strong> DILO Compact Series SF6 Gas Recovery, DILO Gas Leak
                            Detector
                        </p>
                        <p>
                            <strong>Online Inspection Equipment:</strong> UE System Ultraprobe 10000, EA Technology
                            UltraTEV+, HVPD PDS Insight, PMDT PDetector, Flir E40, Cordex TC7150, Fluke 435 series II,
                            Fluke 805
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body pt-3">
                <div data-aos="zoom-in" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000"
                    data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false"
                    data-aos-anchor-placement="top-center" class="row">
                    <div class="col-4">
                        <div class="card card-img">
                            <img class="img-fluid" src="assets/images/company/equipments/ABB Transformer Substation.jpg"
                                alt="Trở thành người đồng hành tin cậy." />
                        </div>
                    </div>
                    <div class="col-8">
                        <p>
                            <strong>Testing Equipment:</strong> Vanguard WRM-10, Vanguard ATRT-03B, Megger BM5200, Fluke
                            1550B, Kyoritsu 3124, KEP UIM-90, Goldsol C & DF Tester
                        </p>
                        <p>
                            <strong>Maintenance Equipment:</strong> Arras-Maxei THV-4000 Transformer Oil Treatment
                        </p>
                        <p>
                            <strong>Online Inspection Equipment:</strong> UE System Ultraprobe 10000, EA Technology
                            UltraTEV+, HVPD PDS Insight, PMDT PDetector, Flir E40, Cordex TC7150, Fluke 435 series II,
                            Fluke 805
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body pt-3">
                <div class="row">
                    <div class="col-4">
                        <div class="card card-img">
                            <img class="img-fluid" src="assets/images/company/equipments/Schneider LV Switchboard.jpg"
                                alt="Nhat Ha's mission" />
                        </div>
                    </div>
                    <div class="col-8">
                        <p>
                            <strong>Testing Equipment:</strong> Manta MTS 1710, Programma Sverker 780, Megger MPRT 8415,
                            Vanguard EZCT-2000, HV Hipot CT/PT Tester, Chauvin 8510, Vanguard ATRT-03B, Megger MOM200,
                            HV Hipot GDH-100, Megger BM5200, Fluke 1550B, Kyoritsu 3124, EuroSMC Raptor, Sonel MRU-200,
                            Chauvin 6250, Kyoritsu 6050, Fluke 1630, Fluke 6500, Schneider FFTK, ABB Ekip T&P, GE
                            GTUTK20, Siemens WLTS, All-Test III BJM, Hioki 3555
                        </p>
                        <p>
                            <strong>Maintenance Equipment:</strong> Wiha 1000V Insulated Tool Set
                        </p>
                        <p>
                            <strong>Online Inspection Equipment:</strong> Flir E40, Cordex TC7150, Fluke 435 series II,
                            Fluke 805
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
