<div class="main-container">
    <div class="clearfix" id="product">
        <div id="iriss-product" class="product-wrap">
            <nz-affix>
                <div class="tab" style="background: #fff; padding: 10px 0;" nz-row nzType="flex" [nzGutter]="nzGutter"
                    nzJustify="start" nzAlign="middle">
                    <div nz-col *ngFor="let tab of tabs" [ngStyle]="tab.style" (click)="tab.click()">
                        <img [src]="tab.img" alt="">
                        <p>{{tab.name}}</p>
                    </div>
                </div>
            </nz-affix>
            <div class="tab-content">
                <div id="cover" nz-row nzType="flex" [nzGutter]="nzGutter" nzJustify="center" nzAlign="top">
                    <div id="left" nz-col nzXs="24" nzSm="24" nzMd="8">
                        <ng-container *ngFor="let left of content.cover.left">
                            <h3>{{left[0]}}</h3>
                            <p>{{left[1]}}</p>
                        </ng-container>
                    </div>
                    <div id="center" nz-col nzXs="24" nzSm="24" nzMd="8">
                        <img [src]="content.cover.center" alt="">
                    </div>
                    <div id="right" nz-col nzXs="24" nzSm="24" nzMd="8">
                        <ng-container *ngFor="let right of content.cover.right">
                            <h3>{{right[0]}}</h3>
                            <p>{{right[1]}}</p>
                        </ng-container>
                    </div>
                </div>

                <div id="iriss-feature" class="tab" nz-row nzType="flex" nzJustify="start" nzAlign="middle"
                    style="background: #096dd9; margin-top: 2em;">
                    <div nz-col nzSpan="4" *ngFor="let tab of secondTabs" [ngStyle]="tab.style"
                        [ngClass]="(tab.active || tab.id === 0) ?  'active' : 'inactive'" (click)="tab.click()">
                        <p style="color: #fff; text-align: center;">{{tab.name}}</p>
                    </div>
                </div>
                <div class="iriss-feature" nz-row nzType="flex" nzJustify="start" nzAlign="middle">
                    <div nz-col nzSpan="24">
                        <nz-table nzBordered>
                            <thead>
                                <tr>
                                    <th nzWidth="300px" [attr.colspan]="2">
                                        ĐO ĐIỆN TỪ TRƯỜNG TEV
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Cảm biến</td>
                                    <td>Capacitive</td>
                                </tr>
                                <tr>
                                    <td>Dải đo</td>
                                    <td>0 to 80 dBmV </td>
                                </tr>
                                <tr>
                                    <td>Độ phân dải</td>
                                    <td>1 dB</td>
                                </tr>
                                <tr>
                                    <td>Độ chính xác</td>
                                    <td>±1 dB</td>
                                </tr>
                                <tr>
                                    <td>Khử nhiễu</td>
                                    <td>Có</td>
                                </tr>
                            </tbody>
                        </nz-table>
                        <nz-table nzBordered>
                            <thead>
                                <tr>
                                    <th nzWidth="300px" [attr.colspan]="2">
                                        ĐO SÓNG SIÊU ÂM AE
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Dải đo</td>
                                    <td>-6dBµV to + 70dBµV</td>
                                </tr>
                                <tr>
                                    <td>Độ phân dải</td>
                                    <td>1 dB</td>
                                </tr>
                                <tr>
                                    <td>Độ chính xác</td>
                                    <td>±1 dB</td>
                                </tr>
                                <tr>
                                    <td>Độ nhạy cảm</td>
                                    <td>-65dB (0dB = 1volt/µbar RMS SPL)</td>
                                </tr>
                                <tr>
                                    <td>Dải tần sô đo trung tâm</td>
                                    <td>40 kHz</td>
                                </tr>
                            </tbody>
                        </nz-table>
                        <nz-table nzBordered>
                            <thead>
                                <tr>
                                    <th nzWidth="300px" [attr.colspan]="2">
                                        ỨNG DỤNG
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Chuẩn giao tiếp</td>
                                    <td>Bluetooth & Customer Server</td>
                                </tr>
                                <tr>
                                    <td>Giao tiếp dữ liệu</td>
                                    <td>Web front end</td>
                                </tr>
                                <tr>
                                    <td>Hệ điều hành</td>
                                    <td>Android</td>
                                </tr>
                                <tr>
                                    <td>Khả năng báo cáo</td>
                                    <td>Có</td>
                                </tr>
                                <tr>
                                    <td>Kết quả đo</td>
                                    <td>dB, PRPD, Noise</td>
                                </tr>
                            </tbody>
                        </nz-table>
                        <nz-table nzBordered>
                            <thead>
                                <tr>
                                    <th nzWidth="300px" [attr.colspan]="2">
                                        PHẦN CỨNG
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Vỏ thiết bị</td>
                                    <td>Injection moulded plastic case</td>
                                </tr>
                                <tr>
                                    <td>Màn hình</td>
                                    <td>OLED display with 6 display LEDs (PD level)</td>
                                </tr>
                                <tr>
                                    <td>Điều khiển</td>
                                    <td>Membrane keypad</td>
                                </tr>
                                <tr>
                                    <td>Đầu kết nối</td>
                                    <td>Power, Headphones and External Acoustic Sensor</td>
                                </tr>
                            </tbody>
                        </nz-table>
                        <nz-table nzBordered>
                            <thead>
                                <tr>
                                    <th nzWidth="300px" [attr.colspan]="2">
                                        MÔI TRƯỜNG HOẠT ĐỘNG
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Nhiệt độ hoạt động</td>
                                    <td>5°C to 55°C</td>
                                </tr>
                                <tr>
                                    <td>Độ ẩm</td>
                                    <td>0 to 90% RH non-condensing</td>
                                </tr>
                                <tr>
                                    <td>Tiêu chuẩn IP</td>
                                    <td>54</td>
                                </tr>
                            </tbody>
                        </nz-table>
                        <nz-table nzBordered>
                            <thead>
                                <tr>
                                    <th nzWidth="300px" [attr.colspan]="2">
                                        KÍCH THƯỚC
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Kích thước</td>
                                    <td>175 x 89 x 46 cm</td>
                                </tr>
                                <tr>
                                    <td>Khối lượng</td>
                                    <td>300g</td>
                                </tr>
                            </tbody>
                        </nz-table>
                        <nz-table nzBordered>
                            <thead>
                                <tr>
                                    <th nzWidth="300px" [attr.colspan]="2">
                                        NGUỒN
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Pin nguồn</td>
                                    <td>Lithium Ion, 3.75V, 2.2Ah</td>
                                </tr>
                                <tr>
                                    <td>Thời gian hoạt động</td>
                                    <td>Approx. 8 hours</td>
                                </tr>
                            </tbody>
                        </nz-table>
                        <nz-table nzBordered>
                            <thead>
                                <tr>
                                    <th nzWidth="300px" [attr.colspan]="2">
                                        NGUỒN SẠC PIN
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Điện áp định mức</td>
                                    <td>90 to 264 V AC, 5V, 2.6A</td>
                                </tr>
                                <tr>
                                    <td>Tần số</td>
                                    <td>47 to 63Hz</td>
                                </tr>
                                <tr>
                                    <td>Kiểu chân cắm nguồn</td>
                                    <td>UK, EU, Australia, USA</td>
                                </tr>
                                <tr>
                                    <td>Thời gian sạc</td>
                                    <td>2 giờ</td>
                                </tr>
                            </tbody>
                        </nz-table>
                    </div>
                </div>

                <div id="iriss-certificate" class="tab" nz-row nzType="flex" nzJustify="start" nzAlign="middle"
                    style="background: #096dd9; margin-top: 2em;">
                    <div nz-col nzSpan="4" *ngFor="let tab of secondTabs" [ngStyle]="tab.style"
                        [ngClass]="(tab.active || tab.id === 1) ?  'active' : 'inactive'" (click)="tab.click()">
                        <p style="color: #fff; text-align: center;">{{tab.name}}</p>
                    </div>
                </div>
                <div class="iriss-certificate" nz-row nzType="flex" nzJustify="start" nzAlign="middle">
                    <div nz-col nzSpan="24">
                        <nz-table nzBordered>
                            <thead>
                                <tr>
                                    <th nzWidth="300px" [attr.colspan]="2">
                                        CHỨNG CHỈ
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Safety and EMC</td>
                                    <td>
                                        CE-compliant in accordance with Low Voltage Directive (2014/35/EU); 
                                        EMC Directive (2014/30/EU)
                                    </td>
                                </tr>
                            </tbody>
                        </nz-table>
                    </div>
                </div>

                <div id="iriss-demo" class="tab" nz-row nzType="flex" nzJustify="start" nzAlign="middle"
                    style="background: #096dd9; margin-top: 2em;">
                    <div nz-col nzSpan="4" *ngFor="let tab of secondTabs" [ngStyle]="tab.style"
                        [ngClass]="(tab.active || tab.id === 2) ?  'active' : 'inactive'" (click)="tab.click()">
                        <p style="color: #fff; text-align: center;">{{tab.name}}</p>
                    </div>
                </div>
                <div class="iriss-demo" nz-row nzType="flex" nzJustify="center" nzAlign="middle">
                    <div nz-col nzSpan="12">
                        <nz-carousel nzAutoPlay nzEffect="fade">
                            <div nz-carousel-content *ngFor="let img of content.detail.demos.img">
                                <img [src]="img" alt="">
                            </div>
                        </nz-carousel>
                    </div>
                </div>
                <div class="iriss-demo" nz-row nzType="flex" nzJustify="center" nzAlign="middle">
                    <div nz-col nzSpan="12">
                        <video width="100%" height="320" controls>
                            <source [src]="content.detail.demos.video" type="video/3gp">
                        </video>
                    </div>
                </div>

                <div id="iriss-document" class="tab" nz-row nzType="flex" nzJustify="center" nzAlign="middle"
                    style="background: #096dd9; margin-top: 2em;">
                    <div nz-col nzSpan="4" *ngFor="let tab of secondTabs" [ngStyle]="tab.style"
                        [ngClass]="(tab.active || tab.id === 3) ?  'active' : 'inactive'" (click)="tab.click()">
                        <p style="color: #fff; text-align: center;">{{tab.name}}</p>
                    </div>
                </div>
                <div class="iriss-document" nz-row nzType="flex" nzJustify="start" nzAlign="middle">
                    <div nz-col nzSpan="24">
                        <p *ngFor="let document of content.detail.documents">{{document}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
