<div class="main-container">
    <div class="clearfix" id="product">
        <div id="cordex-product" class="product-wrap">
            <nz-affix>
                <div class="tab" style="background: #fff; padding: 10px 0;" nz-row nzType="flex" [nzGutter]="nzGutter"
                    nzJustify="start" nzAlign="middle">
                    <div nz-col *ngFor="let tab_cordex of tabs; let i=index;" [ngStyle]="tab_cordex.style" (click)="tab_cordex.click()">
                        <img [src]="tab_cordex.img" alt="">
                        <p>{{('tab_cordex.name'+i)|translate}}</p>
                    </div>
                </div>
            </nz-affix>
            <div class="tab-content">
                <div id="page-0" nz-row nzType="flex" [nzGutter]="nzGutter" nzJustify="space-between" nzAlign="center">
                    <div nz-col nzXs="24" nzSm="24" nzMd="8">
                        <img [src]="content.page0.img" alt="">
                    </div>
                    <div style="background: #ffa500; padding-top: 1em; padding-bottom: 1em;" nz-col nzXs="24" nzSm="24" nzMd="16">
                        <div id="title" nz-row nzType="flex" [nzGutter]="nzGutter" nzJustify="space-between" nzAlign="middle">
                            <div nz-col nzSpan="24">
                                <h1 translate>{{content.page0.title}}</h1>
                            </div>
                        </div>
                        <div id="logo-0" nz-row nzType="flex" [nzGutter]="nzGutter" nzJustify="start" nzAlign="middle">
                            <div nz-col>
                                <img [src]="content.page0.logos[0]" alt="Connect Logo">
                            </div>
                            <div nz-col>
                                <img [src]="content.page0.logos[1]" alt="HydroGard Logo">
                            </div>
                        </div>
                        <div id="logo-1" nz-row nzType="flex" [nzGutter]="nzGutter" nzJustify="start" nzAlign="middle">
                            <div nz-col>
                                <img [src]="content.page0.logos[2]" alt="Queens Award Logo">
                            </div>
                            <div nz-col>
                                <img [src]="content.page0.logos[3]" alt="C RUS Logo">
                            </div>
                            <div nz-col>
                                <img [src]="content.page0.logos[4]" alt="Sira Logo">
                            </div>
                        </div>
                        <div id="description">
                            <h3 translate>{{content.page0.description}}</h3>
                        </div>
                    </div>
                </div>
                <div id="page-1" nz-row nzType="flex" [nzGutter]="nzGutter" nzJustify="center" nzAlign="middle">
                    <div id="left" nz-col nzXs="24" nzSm="24" nzMd="8">
                        <ng-container *ngFor="let left_cordex of content.page1.left; let i=index">
                            <h3>{{('left_cordex[0]'+i)|translate}}</h3>
                            <p>{{('left_cordex[1]'+i)|translate}}</p>
                        </ng-container>
                    </div>
                    <div id="center" nz-col nzXs="24" nzSm="24" nzMd="8">
                        <img [src]="content.page1.center" alt="">
                    </div>
                    <div id="right" nz-col nzXs="24" nzSm="24" nzMd="8">
                        <ng-container *ngFor="let right_cordex of content.page1.right; let i=index">
                            <h3>{{('right_cordex[0]'+i)|translate}}</h3>
                            <p>{{('right_cordex[1]'+i)|translate}}</p>
                        </ng-container>
                    </div>
                </div>
                <div id="page-2" nz-row nzType="flex" [nzGutter]="nzGutter" nzJustify="center" nzAlign="middle">
                    <div nz-col nzXs="24" nzSm="24" nzMd="12" *ngFor="let page_cordex of content.page2; let i=index">
                        <h3>{{('page_cordex.title'+i)|translate}}</h3>
                        <ng-container *ngIf="page_cordex.paragraphs">
                            <p *ngFor="let p_cordex of page_cordex.paragraphs; let j=index">{{('p_cordex'+i+j)|translate}}</p>
                        </ng-container>
                        <ng-container *ngIf="page_cordex.lists">
                            <ul>
                                <li *ngFor="let li_cordex of page_cordex.lists; let j=index">{{('li_cordex'+i+j)|translate}}</li>
                            </ul>
                        </ng-container>
                    </div>
                </div>
                <div id="page-3" nz-row nzType="flex" nzJustify="center" nzAlign="middle">
                    <div nz-col nzXs="24" nzSm="24" nzMd="8" *ngFor="let page_cordex2 of content.page3; let i=index">
                        <img [src]="page_cordex2.img" [alt]="page_cordex2.title">
                        <h3>{{('page_cordex2.title'+i)|translate}}</h3>
                    </div>
                </div>
                <div id="cordex-feature" class="tab" nz-row nzType="flex" nzJustify="start" nzAlign="middle"
                    style="background: #ffa500; margin-top: 2em;">
                    <div nz-col nzSpan="4" *ngFor="let tab_cordex2 of secondTabs; let i=index" [ngStyle]="tab_cordex2.style"
                        [ngClass]="(tab_cordex2.active || tab_cordex2.id === 0) ?  'active' : 'inactive'" (click)="tab_cordex2.click()">
                        <p style="color: #fff; text-align: center;">{{('tab_cordex2.name'+i)|translate}}</p>
                    </div>
                </div>
                <div class="cordex-feature" nz-row nzType="flex" nzJustify="space-between" nzAlign="middle">
                    <div nz-col nzSpan="24">
                        <nz-table nzBordered>
                            <thead>
                                <tr>
                                    <th nzWidth="300px" translate>THÔNG TIN QUANG HỌC</th>
                                    <th>IW2000</th>
                                    <th>IW3000</th>
                                    <th>IW4000</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td translate>Đường kính phần kiếng thủy tinh</td>
                                    <td>50mm [2.0in]</td>
                                    <td>80mm [3.2in]</td>
                                    <td>100mm [3.9in]</td>
                                </tr>
                                <tr>
                                    <td translate>Đường kính miền nhìn</td>
                                    <td>45mm [1.8in]</td>
                                    <td>73mm [2.9in]</td>
                                    <td>93mm [3.7in]</td>
                                </tr>
                                <tr>
                                    <td translate>Diện tích miền nhìn</td>
                                    <td>1591mm2 [2.5in2]</td>
                                    <td>4186mm2 [5.6in2]</td>
                                    <td>6794mm2 [9.8in2]</td>
                                </tr>
                                <tr>
                                    <td translate>Độ dày</td>
                                    <td>2mm [0.08in]</td>
                                    <td>2mm [0.08in]</td>
                                    <td>4mm [0.16in]</td>
                                </tr>
                                <tr>
                                    <td translate>Lớp phủ HYDROGARD™</td>
                                    <td nzAlign="center" [attr.colspan]="3">Có</td>
                                </tr>
                                <tr>
                                    <td translate>Khả năng truyền sóng IR ngắn</td>
                                    <td nzAlign="center" [attr.colspan]="3">Có</td>
                                </tr>
                                <tr>
                                    <td translate>Khả năng truyền sóng IR trung</td>
                                    <td nzAlign="center" [attr.colspan]="3">Có</td>
                                </tr>
                                <tr>
                                    <td translate>Khả năng truyền sóng IR dài</td>
                                    <td nzAlign="center" [attr.colspan]="3">Có</td>
                                </tr>
                                <tr>
                                    <td translate>Khả năng truyền sóng UV</td>
                                    <td nzAlign="center" [attr.colspan]="3">Có</td>
                                </tr>
                                <tr>
                                    <td translate>Khả năng quan sát trực tiếp</td>
                                    <td nzAlign="center" [attr.colspan]="3">Có</td>
                                </tr>
                                <tr>
                                    <td translate>Khả năng phối hợp quang học</td>
                                    <td nzAlign="center" [attr.colspan]="3">Có</td>
                                </tr>
                            </tbody>
                        </nz-table>
                        <nz-table nzBordered>
                            <thead>
                                <tr>
                                    <th nzWidth="300px" translate>ĐẶC TÍNH CHUNG</th>
                                    <th>IW2000</th>
                                    <th>IW3000</th>
                                    <th>IW4000</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td [attr.rowspan]="3" translate>Nhiệt Độ Tối Đa</td>
                                    <td [attr.colspan]="3" >Ron: 250°C [482°F]</td>
                                </tr>
                                <tr>
                                    <td [attr.colspan]="3" translate>Khung: 659°C [1218°F]</td>
                                </tr>
                                <tr>
                                    <td [attr.colspan]="3" translate>Kiếng quang học: 1400°C [2552°F]</td>
                                </tr>
                                <tr>
                                    <td>Ron</td>
                                    <td [attr.colspan]="3" translate>Vật liệu Silicone ít khói và mùi</td>
                                </tr>
                                <tr>
                                    <td>Bảo hành</td>
                                    <td [attr.colspan]="3" translate>Bảo hành thay thế trọn đời cho lỗi sản phẩm do nhà sản xuất
                                    </td>
                                </tr>
                            </tbody>
                        </nz-table>
                        <nz-table nzBordered>
                            <thead>
                                <tr>
                                    <th nzWidth="300px" translate>KÍCH THƯỚC</th>
                                    <th translate>Đường kính miền nhìn</th>
                                    <th translate>Đường kính cửa sổ</th>
                                    <th translate>Độ dày</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>IW2000 </td>
                                    <td>45mm [1.8in]</td>
                                    <td>77mm [3.0in]</td>
                                    <td>19.5mm [0.8in]</td>
                                </tr>
                                <tr>
                                    <td>IW3000</td>
                                    <td>73mm [2.9in]</td>
                                    <td>103mm [4.1in]</td>
                                    <td>19.5mm [0.8in]</td>
                                </tr>
                                <tr>
                                    <td>IW4000
                                    </td>
                                    <td>92mm [3.7in]</td>
                                    <td>123mm [4.9in]</td>
                                    <td>21.5mm [0.85in]</td>
                                </tr>
                            </tbody>
                        </nz-table>
                    </div>
                </div>
                <div id="cordex-certificate" class="tab" nz-row nzType="flex" nzJustify="start" nzAlign="middle"
                    style="background: #ffa500; margin-top: 2em;">
                    <div nz-col nzSpan="4" *ngFor="let tab_cordex2 of secondTabs; let i=index" [ngStyle]="tab_cordex2.style"
                        [ngClass]="(tab_cordex2.active || tab_cordex2.id === 1) ?  'active' : 'inactive'" (click)="tab_cordex2.click()">
                        <p style="color: #fff; text-align: center;">{{('tab_cordex2.name'+i)|translate}}</p>
                    </div>
                </div>
                <div class="cordex-certificate" nz-row nzType="flex" nzJustify="space-between" nzAlign="middle">
                    <div nz-col nzSpan="24">
                        <nz-table nzBordered>
                            <thead>
                                <tr>
                                    <th nzWidth="300px" translate>Chứng Chỉ</th>
                                    <th>IW2000</th>
                                    <th>IW3000</th>
                                    <th>IW4000</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td translate>Chứng nhận bởi UL</td>
                                    <td nzAlign="center" [attr.colspan]="3" translate>Có</td>
                                </tr>
                                <tr>
                                    <td>UL50</td>
                                    <td nzAlign="center" [attr.colspan]="3" translate>Loại 4/12</td>
                                </tr>
                                <tr>
                                    <td>UL746C, UL94, UL50V và UL1558</td>
                                    <td nzAlign="center" [attr.colspan]="3" translate>Có</td>
                                </tr>
                                <tr>
                                    <td>Sira IP65</td>
                                    <td nzAlign="center" [attr.colspan]="3" translate>Có</td>
                                </tr>
                                <tr>
                                    <td>NEMA Rating</td>
                                    <td nzAlign="center" [attr.colspan]="3" translate>Loại 4/12 [Chứng nhận bên thứ ba bởi UL]
                                    </td>
                                </tr>
                                <tr>
                                    <td>Vibration Rating </td>
                                    <td nzAlign="center" [attr.colspan]="3" translate>IEC 60068-2-6</td>
                                </tr>
                                <tr>
                                    <td>Humidity Rating</td>
                                    <td nzAlign="center" [attr.colspan]="3">IEC 60068-2-3</td>
                                </tr>
                            </tbody>
                        </nz-table>
                    </div>
                </div>
                <div id="cordex-demo" class="tab" nz-row nzType="flex" nzJustify="start" nzAlign="middle"
                    style="background: #ffa500; margin-top: 2em;">
                    <div nz-col nzSpan="4" *ngFor="let tab_cordex2 of secondTabs; let i=index" [ngStyle]="tab_cordex2.style"
                        [ngClass]="(tab_cordex2.active || tab_cordex2.id === 2) ?  'active' : 'inactive'" (click)="tab_cordex2.click()">
                        <p style="color: #fff; text-align: center;">{{('tab_cordex2.name'+i)|translate}}</p>
                    </div>
                </div>
                <div class="cordex-demo" nz-row nzType="flex" nzJustify="center" nzAlign="middle">
                    <div nz-col nzSpan="12">
                        <nz-carousel nzAutoPlay nzEffect="fade">
                            <div nz-carousel-content *ngFor="let img of content.detail.demos.img">
                                <img [src]="img" alt="">
                            </div>
                        </nz-carousel>
                    </div>
                </div>
                <div class="cordex-demo" nz-row nzType="flex" nzJustify="center" nzAlign="middle">
                    <div nz-col nzSpan="12">
                        <video width="100%" height="320" controls>
                            <source [src]="content.detail.demos.video" type="video/mp4">
                        </video>
                    </div>
                </div>
                <div id="cordex-document" class="tab" nz-row nzType="flex" nzJustify="center" nzAlign="middle"
                    style="background: #ffa500; margin-top: 2em;">
                    <div nz-col nzSpan="4" *ngFor="let tab_cordex2 of secondTabs; let i=index" [ngStyle]="tab_cordex2.style"
                        [ngClass]="(tab_cordex2.active || tab_cordex2.id === 3) ?  'active' : 'inactive'" (click)="tab_cordex2.click()">
                        <p style="color: #fff; text-align: center;">{{('tab_cordex2.name'+i)|translate}}</p>
                    </div>
                </div>
                <div class="cordex-document" nz-row nzType="flex" nzJustify="start" nzAlign="middle">
                    <div nz-col nzSpan="24">
                        <p *ngFor="let document-cordex of content.detail.documents; let i=index">{{('document-cordex'+i)|translate}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
