<div class="main-container">
    <div class="clearfix" id="product">
        <div id="cordex-product" class="product-wrap">
            <nz-affix>
                <div class="tab" style="background: #fff; padding: 10px 0;" nz-row nzType="flex" [nzGutter]="nzGutter"
                    nzJustify="start" nzAlign="middle">
                    <div nz-col *ngFor="let tab of tabs" [ngStyle]="tab.style" (click)="tab.click()">
                        <img [src]="tab.img" alt="">
                        <p>{{tab.name}}</p>
                    </div>
                </div>
            </nz-affix>
            <div class="tab-content">
                <div id="page-0" nz-row nzType="flex" [nzGutter]="nzGutter" nzJustify="space-between" nzAlign="center">
                    <div nz-col nzXs="24" nzSm="24" nzMd="8">
                        <img [src]="content.page0.img" alt="">
                    </div>
                    <div style="background: #ffa500; padding-top: 1em; padding-bottom: 1em;" nz-col nzXs="24" nzSm="24" nzMd="16">
                        <div id="title" nz-row nzType="flex" [nzGutter]="nzGutter" nzJustify="space-between" nzAlign="middle">
                            <div nz-col nzSpan="24">
                                <h1>{{content.page0.title}}</h1>
                            </div>
                        </div>
                        <div id="logo-0" nz-row nzType="flex" [nzGutter]="nzGutter" nzJustify="start" nzAlign="middle">
                            <div nz-col>
                                <img [src]="content.page0.logos[0]" alt="Connect Logo">
                            </div>
                            <div nz-col>
                                <img [src]="content.page0.logos[1]" alt="HydroGard Logo">
                            </div>
                        </div>
                        <div id="logo-1" nz-row nzType="flex" [nzGutter]="nzGutter" nzJustify="start" nzAlign="middle">
                            <div nz-col>
                                <img [src]="content.page0.logos[2]" alt="Queens Award Logo">
                            </div>
                            <div nz-col>
                                <img [src]="content.page0.logos[3]" alt="C RUS Logo">
                            </div>
                            <div nz-col>
                                <img [src]="content.page0.logos[4]" alt="Sira Logo">
                            </div>
                        </div>
                        <div id="description">
                            <h3>{{content.page0.description}}</h3>
                        </div>
                    </div>
                </div>
                <div id="page-1" nz-row nzType="flex" [nzGutter]="nzGutter" nzJustify="center" nzAlign="middle">
                    <div id="left" nz-col nzXs="24" nzSm="24" nzMd="8">
                        <ng-container *ngFor="let left of content.page1.left">
                            <h3>{{left[0]}}</h3>
                            <p>{{left[1]}}</p>
                        </ng-container>
                    </div>
                    <div id="center" nz-col nzXs="24" nzSm="24" nzMd="8">
                        <img [src]="content.page1.center" alt="">
                    </div>
                    <div id="right" nz-col nzXs="24" nzSm="24" nzMd="8">
                        <ng-container *ngFor="let right of content.page1.right">
                            <h3>{{right[0]}}</h3>
                            <p>{{right[1]}}</p>
                        </ng-container>
                    </div>
                </div>
                <div id="page-2" nz-row nzType="flex" [nzGutter]="nzGutter" nzJustify="center" nzAlign="middle">
                    <div nz-col nzXs="24" nzSm="24" nzMd="12" *ngFor="let page of content.page2">
                        <h3>{{page.title}}</h3>
                        <ng-container *ngIf="page.paragraphs">
                            <p *ngFor="let p of page.paragraphs">{{p}}</p>
                        </ng-container>
                        <ng-container *ngIf="page.lists">
                            <ul>
                                <li *ngFor="let li of page.lists">{{li}}</li>
                            </ul>
                        </ng-container>
                    </div>
                </div>
                <div id="page-3" nz-row nzType="flex" nzJustify="center" nzAlign="middle">
                    <div nz-col nzXs="24" nzSm="24" nzMd="8" *ngFor="let page of content.page3">
                        <img [src]="page.img" [alt]="page.title">
                        <h3>{{page.title}}</h3>
                    </div>
                </div>
                <div id="cordex-feature" class="tab" nz-row nzType="flex" nzJustify="start" nzAlign="middle"
                    style="background: #ffa500; margin-top: 2em;">
                    <div nz-col nzSpan="4" *ngFor="let tab of secondTabs" [ngStyle]="tab.style"
                        [ngClass]="(tab.active || tab.id === 0) ?  'active' : 'inactive'" (click)="tab.click()">
                        <p style="color: #fff; text-align: center;">{{tab.name}}</p>
                    </div>
                </div>
                <div class="cordex-feature" nz-row nzType="flex" nzJustify="space-between" nzAlign="middle">
                    <div nz-col nzSpan="24">
                        <nz-table nzBordered>
                            <thead>
                                <tr>
                                    <th nzWidth="300px">THÔNG TIN QUANG HỌC</th>
                                    <th>IW2000</th>
                                    <th>IW3000</th>
                                    <th>IW4000</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Đường kính phần kiếng thủy tinh</td>
                                    <td>50mm [2.0in]</td>
                                    <td>80mm [3.2in]</td>
                                    <td>100mm [3.9in]</td>
                                </tr>
                                <tr>
                                    <td>Đường kính miền nhìn</td>
                                    <td>45mm [1.8in]</td>
                                    <td>73mm [2.9in]</td>
                                    <td>93mm [3.7in]</td>
                                </tr>
                                <tr>
                                    <td>Diện tích miền nhìn</td>
                                    <td>1591mm2 [2.5in2]</td>
                                    <td>4186mm2 [5.6in2]</td>
                                    <td>6794mm2 [9.8in2]</td>
                                </tr>
                                <tr>
                                    <td>Độ dày</td>
                                    <td>2mm [0.08in]</td>
                                    <td>2mm [0.08in]</td>
                                    <td>4mm [0.16in]</td>
                                </tr>
                                <tr>
                                    <td>Lớp phủ HYDROGARD <sub>TM</sub></td>
                                    <td nzAlign="center" [attr.colspan]="3">Có</td>
                                </tr>
                                <tr>
                                    <td>Khả năng truyền sóng IR ngắn</td>
                                    <td nzAlign="center" [attr.colspan]="3">Có</td>
                                </tr>
                                <tr>
                                    <td>Khả năng truyền sóng IR trung</td>
                                    <td nzAlign="center" [attr.colspan]="3">Có</td>
                                </tr>
                                <tr>
                                    <td>Khả năng truyền sóng IR dài</td>
                                    <td nzAlign="center" [attr.colspan]="3">Có</td>
                                </tr>
                                <tr>
                                    <td>Khả năng truyền sóng UV</td>
                                    <td nzAlign="center" [attr.colspan]="3">Có</td>
                                </tr>
                                <tr>
                                    <td>Khả năng quan sát trực tiếp</td>
                                    <td nzAlign="center" [attr.colspan]="3">Có</td>
                                </tr>
                                <tr>
                                    <td>Khả năng phối hợp quang học</td>
                                    <td nzAlign="center" [attr.colspan]="3">Có</td>
                                </tr>
                            </tbody>
                        </nz-table>
                        <nz-table nzBordered>
                            <thead>
                                <tr>
                                    <th nzWidth="300px">ĐẶC TÍNH CHUNG</th>
                                    <th>IW2000</th>
                                    <th>IW3000</th>
                                    <th>IW4000</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td [attr.rowspan]="3">Nhiệt Độ Tối Đa</td>
                                    <td [attr.colspan]="3">Ron: 250<sub>o</sub>C [482<sub>o</sub>F]</td>
                                </tr>
                                <tr>
                                    <td [attr.colspan]="3">Khung: 659<sub>o</sub>C [1218<sub>o</sub>F]</td>
                                </tr>
                                <tr>
                                    <td [attr.colspan]="3">Kiếng quang học: 1400<sub>o</sub>C [2552<sub>o</sub>F]</td>
                                </tr>
                                <tr>
                                    <td>Ron</td>
                                    <td [attr.colspan]="3">Vật liệu Silicone ít khói và mùi</td>
                                </tr>
                                <tr>
                                    <td>Bảo hành</td>
                                    <td [attr.colspan]="3">Bảo hành thay thế trọn đời cho lỗi sản phẩm do nhà sản xuất
                                    </td>
                                </tr>
                            </tbody>
                        </nz-table>
                        <nz-table nzBordered>
                            <thead>
                                <tr>
                                    <th nzWidth="300px">KÍCH THƯỚC</th>
                                    <th>Đường kính miền nhìn</th>
                                    <th>Đường kính cửa sổ</th>
                                    <th>Độ dày</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>IW2000 </td>
                                    <td>45mm [1.8in]</td>
                                    <td>77mm [3.0in]</td>
                                    <td>19.5mm [0.8in]</td>
                                </tr>
                                <tr>
                                    <td>IW3000</td>
                                    <td>73mm [2.9in]</td>
                                    <td>103mm [4.1in]</td>
                                    <td>19.5mm [0.8in]</td>
                                </tr>
                                <tr>
                                    <td>IW4000
                                    </td>
                                    <td>92mm [3.7in]</td>
                                    <td>123mm [4.9in]</td>
                                    <td>21.5mm [0.85in]</td>
                                </tr>
                            </tbody>
                        </nz-table>
                    </div>
                </div>
                <div id="cordex-certificate" class="tab" nz-row nzType="flex" nzJustify="start" nzAlign="middle"
                    style="background: #ffa500; margin-top: 2em;">
                    <div nz-col nzSpan="4" *ngFor="let tab of secondTabs" [ngStyle]="tab.style"
                        [ngClass]="(tab.active || tab.id === 1) ?  'active' : 'inactive'" (click)="tab.click()">
                        <p style="color: #fff; text-align: center;">{{tab.name}}</p>
                    </div>
                </div>
                <div class="cordex-certificate" nz-row nzType="flex" nzJustify="space-between" nzAlign="middle">
                    <div nz-col nzSpan="24">
                        <nz-table nzBordered>
                            <thead>
                                <tr>
                                    <th nzWidth="300px">Chứng Chỉ</th>
                                    <th>IW2000</th>
                                    <th>IW3000</th>
                                    <th>IW4000</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Chứng nhận bởi UL</td>
                                    <td nzAlign="center" [attr.colspan]="3">Có</td>
                                </tr>
                                <tr>
                                    <td>UL50</td>
                                    <td nzAlign="center" [attr.colspan]="3">Loại 4/12</td>
                                </tr>
                                <tr>
                                    <td>UL746C, UL94, UL50V và UL1558</td>
                                    <td nzAlign="center" [attr.colspan]="3">Có</td>
                                </tr>
                                <tr>
                                    <td>Sira IP65</td>
                                    <td nzAlign="center" [attr.colspan]="3">Có</td>
                                </tr>
                                <tr>
                                    <td>NEMA Rating</td>
                                    <td nzAlign="center" [attr.colspan]="3">Loại 4/12 [Chứng nhận bên thứ ba bởi UL]
                                    </td>
                                </tr>
                                <tr>
                                    <td>Vibration Rating </td>
                                    <td nzAlign="center" [attr.colspan]="3">IEC 60068-2-6</td>
                                </tr>
                                <tr>
                                    <td>Humidity Rating</td>
                                    <td nzAlign="center" [attr.colspan]="3">IEC 60068-2-3</td>
                                </tr>
                            </tbody>
                        </nz-table>
                    </div>
                </div>
                <div id="cordex-demo" class="tab" nz-row nzType="flex" nzJustify="start" nzAlign="middle"
                    style="background: #ffa500; margin-top: 2em;">
                    <div nz-col nzSpan="4" *ngFor="let tab of secondTabs" [ngStyle]="tab.style"
                        [ngClass]="(tab.active || tab.id === 2) ?  'active' : 'inactive'" (click)="tab.click()">
                        <p style="color: #fff; text-align: center;">{{tab.name}}</p>
                    </div>
                </div>
                <div class="cordex-demo" nz-row nzType="flex" nzJustify="center" nzAlign="middle">
                    <div nz-col nzSpan="12">
                        <nz-carousel nzAutoPlay nzEffect="fade">
                            <div nz-carousel-content *ngFor="let img of content.detail.demos.img">
                                <img [src]="img" alt="">
                            </div>
                        </nz-carousel>
                    </div>
                </div>
                <div class="cordex-demo" nz-row nzType="flex" nzJustify="center" nzAlign="middle">
                    <div nz-col nzSpan="12">
                        <video width="100%" height="320" controls>
                            <source [src]="content.detail.demos.video" type="video/3gp">
                        </video>
                    </div>
                </div>
                <div id="cordex-document" class="tab" nz-row nzType="flex" nzJustify="center" nzAlign="middle"
                    style="background: #ffa500; margin-top: 2em;">
                    <div nz-col nzSpan="4" *ngFor="let tab of secondTabs" [ngStyle]="tab.style"
                        [ngClass]="(tab.active || tab.id === 3) ?  'active' : 'inactive'" (click)="tab.click()">
                        <p style="color: #fff; text-align: center;">{{tab.name}}</p>
                    </div>
                </div>
                <div class="cordex-document" nz-row nzType="flex" nzJustify="start" nzAlign="middle">
                    <div nz-col nzSpan="24">
                        <p *ngFor="let document of content.detail.documents">{{document}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
