<ul id="menu" nz-menu [nzMode]="menuMode" [ngStyle]="style">
    <li nz-menu-item nzSelected>
        <a (click)="closeSideBar($event)" [routerLink]="['/trang-chu']" translate>
            Giới thiệu
        </a>
    </li>
    <li nz-submenu nzMenuClassName="submenu-company" [nzTitle]="'Doanh Nghiệp' | translate"
        (click)="switchRouter('/doanh-nghiep/tamnhin-sumenh-giatri', $event)">
        <ul>
            <li nz-menu-item>
                <a (click)="closeSideBar($event)" [routerLink]="['/doanh-nghiep/tamnhin-sumenh-giatri']" translate>
                    Tầm nhìn - Sứ mệnh - Giá trị
                </a>
            </li>
            <li nz-menu-item>
                <a (click)="closeSideBar($event)" [routerLink]="['/doanh-nghiep/thiet-bi']" translate>
                    Thiết bị
                </a>
            </li>
        </ul>
    </li>
    <li nz-submenu nzMenuClassName="submenu-service" [nzTitle]="'Dịch Vụ Kỹ Thuật' | translate"
        (click)="switchRouter('/dich-vu', $event)">
        <ul>
            <li (click)="switchRouter('/dich-vu/phan-tich-he-thong-dien', $event)" nz-submenu
                [nzTitle]="'Phân Tích Hệ Thống Điện' | translate">
                <ul>
                    <li nz-menu-item>
                        <a (click)="closeSideBar($event)"
                            [routerLink]="['/dich-vu/tinh-toan-ngan-mach-phoi-hop-bao-ve']" translate>
                            Tính Toán Ngắn Mạch – Phối Hợp Bảo Vệ Hệ Thống
                        </a>
                    </li>
                    <li nz-menu-item>
                        <a (click)="closeSideBar($event)" [routerLink]="['/dich-vu/phan-tich-nguy-co-ho-quang-dien']"
                            translate>
                            Phân Tích Nguy Cơ Hồ Quang Điện
                        </a>
                    </li>
                </ul>
            </li>
            <li nz-menu-item>
                <a (click)="closeSideBar($event)" [routerLink]="['/dich-vu/thu-nghiem-va-nghiem-thu']" translate>
                    Thử Nghiệm và Nghiệm Thu
                </a>
            </li>
            <li nz-menu-item>
                <a (click)="closeSideBar($event)" [routerLink]="['/dich-vu/phan-tich-chat-luong-dien-nang']" translate>
                    Phân Tích Chất Lượng Điện Năng
                </a>
            </li>
            <li nz-menu-item>
                <a (click)="closeSideBar($event)" [routerLink]="['/dich-vu/chuong-trinh-bao-tri-dien']" translate>
                    Chương Trình Bảo Trì Điện
                </a>
            </li>
            <li (click)="switchRouter('/dich-vu/bao-tri-theo-tinh-trang', $event);" nz-submenu
                [nzTitle]="'Bảo Trì Theo Tình Trạng' | translate">
                <ul>
                    <li nz-menu-item>
                        <a (click)="closeSideBar($event)"
                            [routerLink]="['/dich-vu/quet-nhiet-hong-ngoai-thiet-bi-dien']" translate>
                            Quét Nhiệt Hồng Ngoại Thiết Bị Điện
                        </a>
                    </li>
                    <li nz-menu-item>
                        <a (click)="closeSideBar($event)" [routerLink]="['/dich-vu/do-phong-dien-cuc-bo']" translate>
                            Đo Phóng Điện Cục Bộ
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li nz-submenu nzMenuClassName="submenu-product" [nzTitle]="'Sản Phẩm' | translate"
        (click)="switchRouter('/san-pham', $event)">
        <ul>
            <li nz-submenu [nzTitle]="'Cửa Sổ Hồng Ngoại' | translate"
                (click)="switchRouter('/san-pham/cua-so-hong-ngoai', $event)">
                <ul>
                    <li nz-submenu [nzTitle]="'Sản Phẩm IRISS' | translate"
                        (click)="switchRouter('/san-pham/san-pham-iriss', $event)">
                        <ul>
                            <li nz-menu-item>
                                <a (click)="closeSideBar($event)" [routerLink]="['/san-pham/san-pham-iriss/chi-tiet']"
                                    fragment="dong-vpt" translate>Dòng VPT</a>
                            </li>
                            <li nz-menu-item>
                                <a (click)="closeSideBar($event)" [routerLink]="['/san-pham/san-pham-iriss/chi-tiet']"
                                    fragment="dong-cap-ct" translate>Dòng CAP CT</a>
                            </li>
                            <li nz-menu-item>
                                <a (click)="closeSideBar($event)" [routerLink]="['/san-pham/san-pham-iriss/chi-tiet']"
                                    fragment="dong-cap-env" translate>Dòng CAP ENV</a>
                            </li>
                            <li nz-menu-item>
                                <a (click)="closeSideBar($event)" [routerLink]="['/san-pham/san-pham-iriss/chi-tiet']"
                                    fragment="dong-flex-ir" translate>Dòng FLEX IR</a>
                            </li>
                        </ul>
                    </li>
                    <li nz-menu-item>
                        <a (click)="closeSideBar($event)" [routerLink]="['/san-pham/cua-so-hong-ngoai-cordex']"
                            translate>Sản Phẩm
                            Cordex</a>
                    </li>
                </ul>
            </li>
            <li nz-submenu [nzTitle]="'Máy Dò Trình Trạng Thiết Bị' | translate"
                (click)="switchRouter('/san-pham/may-do-tinh-trang-thiet-bi', $event)">
                <ul>
                    <li nz-submenu [nzTitle]="'Máy Chụp Hình Nhiệt Cordex' | translate"
                        (click)="switchRouter('/san-pham/may-chup-hinh-nhiet-cordex', $event)">
                        <ul>
                            <li nz-menu-item>
                                <a (click)="closeSideBar($event)"
                                    [routerLink]="['/san-pham/may-chup-hinh-nhiet-cordex/chi-tiet']"
                                    fragment="toughpix-digiherm" translate>
                                    Máy Cordex Toughpix Digitherm
                                </a>
                            </li>
                            <li nz-menu-item>
                                <a (click)="closeSideBar($event)"
                                    [routerLink]="['/san-pham/may-chup-hinh-nhiet-cordex/chi-tiet']"
                                    fragment="infrared-camera-tc7150" translate>
                                    Máy Cordex TC7150
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li (click)="$event.stopPropagation();" nz-submenu
                        [nzTitle]="'Máy Dò Sóng Siêu Âm IRISS' | translate">
                        <ul>
                            <li nz-menu-item>
                                <a (click)="closeSideBar($event)"
                                    [routerLink]="['/san-pham/may-do-song-sieu-am-iriss']">Iriss Sonus
                                    XT</a>
                            </li>
                        </ul>
                    </li>
                    <li (click)="$event.stopPropagation();" nz-submenu
                        [nzTitle]="'Máy Đo Phóng Điện Cục Bộ IRISS' | translate">
                        <ul>
                            <li nz-menu-item>
                                <a (click)="closeSideBar($event)"
                                    [routerLink]="['/san-pham/may-do-phong-dien-cuc-bo-iriss']">Iriss
                                    Sonus PD</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li nz-submenu [nzTitle]="'Giải Pháp Giám Sát Liên Tục' | translate"
                (click)="switchRouter('/san-pham/giai-phap-giam-sat-lien-tuc', $event)">
                <ul>
                    <li nz-menu-item>
                        <a (click)="closeSideBar($event)" [routerLink]="['/san-pham/emerson-intellisaw']">Emerson
                            Intellisaw</a>
                    </li>
                    <li nz-submenu nzTitle="Cordex Automated Camera"
                        (click)="switchRouter('/san-pham/cordex-automated-camera', $event)">
                        <ul>
                            <li nz-menu-item>
                                <a (click)="closeSideBar($event)"
                                    [routerLink]="['/san-pham/cordex-automated-camera/cordex-mn4000']">MN4000</a>
                            </li>
                            <li nz-menu-item>
                                <a (click)="closeSideBar($event)"
                                    [routerLink]="['/san-pham/cordex-automated-camera/cordex-mn4100']">MN4100</a>
                            </li>
                        </ul>
                    </li>
                    <li nz-menu-item>
                        <a (click)="closeSideBar($event)" [routerLink]="['/san-pham/iriss-delta-t-alert']">Iriss Delta T
                            Alert</a>
                    </li>
                    <li nz-menu-item>
                        <a (click)="closeSideBar($event)" [routerLink]="['/san-pham/iriss-e-sentry-connect']">Iriss E
                            Sentry</a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li nz-menu-item>
        <a (click)="closeSideBar($event)" [routerLink]="['/doi-tac']" translate>Đối Tác</a>
    </li>
    <li nz-menu-item>
        <a (click)="closeSideBar($event)" [routerLink]="['/du-an']" translate>Dự Án</a>
    </li>
    <li (click)="switchRouter('/ho-tro/phan-mem', $event)" nz-submenu nzMenuClassName="submenu-support"
        [nzTitle]="'Hỗ Trợ' | translate">
        <ul>
            <li nz-menu-item>
                <a (click)="closeSideBar($event)" [routerLink]="['/ho-tro/phan-mem']" translate>
                    Phần Mềm
                </a>
            </li>
            <li nz-menu-item>
                <a (click)="closeSideBar($event)" [routerLink]="['/ho-tro/nghien-cuu']" translate>Tình Huống Nghiên
                    Cứu</a>
            </li>
        </ul>
    </li>
    <li (click)="switchRouter('/lien-he', $event)" nz-submenu nzMenuClassName="submenu-contact"
        [nzTitle]="'Liên Hệ' | translate">
        <ul>
            <li nz-menu-item>
                <a (click)="closeSideBar($event)" [routerLink]="['/lien-he']" translate>Thông Tin Liên Hệ</a>
            </li>
            <li nz-menu-item>
                <a (click)="closeSideBar($event)" [routerLink]="['/tuyen-dung']" translate>Việc Làm</a>
            </li>
        </ul>
    </li>
</ul>
