ul {
    &[nz-menu], &[id="menu"] {
        background: #4f81bd; // #273c75;
        border: none;
        padding: 0;
        
        @media screen and (min-width: 992px) {
            padding: 0 3rem;
        }

        @media screen and (min-width: 1200px) {
            padding: 0 10rem;
        }

        > li {
            text-transform: uppercase;
            color: #ffffff;
            font-weight: bold;
            &.ant-menu-item:hover, &.ant-menu-item-selected,
            &ant-menu-submenu:hover, &.ant-menu-submenu-selected,
            &ant-menu-submenu-active, &.ant-menu-submenu-open {
                color: #ffffff;
                border-bottom: 2px solid #ffffff;
            }
    
            > a {
                text-transform: uppercase;
                color: #ffffff;
                font-weight: bold;
            }
        }
    }
}    
