<ul id="menu" nz-menu [nzMode]="menuMode" [ngStyle]="style" nzTheme="light">
    <li nz-menu-item [nzSelected]="selectedMenuIndex === 0">
        <a (click)="closeSideBar($event, 0)" [routerLink]="['/']">
            {{'Giới thiệu' | translate}}
        </a>
    </li>
    <li nz-submenu nzMenuClassName="submenu-company" [nzTitle]="'Doanh Nghiệp' | translate"
        (click)="switchRouter('/doanh-nghiep/tamnhin-sumenh-giatri', $event, 1)">
        <ul>
            <li nz-menu-item [nzSelected]="selectedMenuIndex === 1">
                <a (click)="closeSideBar($event, 1)" [routerLink]="['/doanh-nghiep/tamnhin-sumenh-giatri']">
                    {{'Tầm nhìn - Sứ mệnh - Giá trị' | translate}}
                </a>
            </li>
            <li nz-menu-item [nzSelected]="selectedMenuIndex === 2">
                <a (click)="closeSideBar($event, 2)" [routerLink]="['/doanh-nghiep/thiet-bi']">
                    {{'Thiết bị' | translate}}
                </a>
            </li>
        </ul>
    </li>
    <li nz-submenu nzMenuClassName="submenu-service" [nzTitle]="'Dịch Vụ Kỹ Thuật' | translate"
        (click)="switchRouter('/dich-vu', $event, 3)">
        <ul>
            <li (click)="switchRouter('/dich-vu/phan-tich-he-thong-dien', $event, 3)" nz-submenu
                [nzTitle]="'Phân Tích Hệ Thống Điện' | translate">
                <ul>
                    <li nz-menu-item [nzSelected]="selectedMenuIndex === 3">
                        <a (click)="closeSideBar($event, 3)"
                            [routerLink]="['/dich-vu/tinh-toan-ngan-mach-phoi-hop-bao-ve']">
                            {{'Tính Toán Ngắn Mạch – Phối Hợp Bảo Vệ Hệ Thống' | translate}}
                        </a>
                    </li>
                    <li nz-menu-item [nzSelected]="selectedMenuIndex === 4">
                        <a (click)="closeSideBar($event, 4)"
                            [routerLink]="['/dich-vu/phan-tich-nguy-co-ho-quang-dien']">
                            {{'Phân Tích Nguy Cơ Hồ Quang Điện' | translate}}
                        </a>
                    </li>
                </ul>
            </li>
            <li nz-menu-item [nzSelected]="selectedMenuIndex === 5">
                <a (click)="closeSideBar($event, 5)" [routerLink]="['/dich-vu/thu-nghiem-va-nghiem-thu']">
                    {{'Thử Nghiệm Và Nghiệm Thu' | translate}}
                </a>
            </li>
            <li nz-menu-item [nzSelected]="selectedMenuIndex === 6">
                <a (click)="closeSideBar($event, 6)" [routerLink]="['/dich-vu/phan-tich-chat-luong-dien-nang']">
                    {{'Phân Tích Chất Lượng Điện Năng' | translate}}
                </a>
            </li>
            <li nz-menu-item [nzSelected]="selectedMenuIndex === 7">
                <a (click)="closeSideBar($event, 7)" [routerLink]="['/dich-vu/chuong-trinh-bao-tri-dien']">
                    {{'Chương Trình Bảo Trì Điện' | translate}}
                </a>
            </li>
            <li (click)="switchRouter('/dich-vu/bao-tri-theo-tinh-trang', $event, 8);" nz-submenu
                [nzTitle]="'Bảo Trì Theo Tình Trạng' | translate">
                <ul>
                    <li nz-menu-item [nzSelected]="selectedMenuIndex === 8">
                        <a (click)="closeSideBar($event, 8)"
                            [routerLink]="['/dich-vu/quet-nhiet-hong-ngoai-thiet-bi-dien']">
                            {{'Quét Nhiệt Hồng Ngoại Thiết Bị Điện' | translate}}
                        </a>
                    </li>
                    <li nz-menu-item [nzSelected]="selectedMenuIndex === 9">
                        <a (click)="closeSideBar($event, 9)" [routerLink]="['/dich-vu/do-phong-dien-cuc-bo']">
                            {{'Đo Phóng Điện Cục Bộ' | translate}}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li nz-submenu nzMenuClassName="submenu-product" [nzTitle]="'Sản Phẩm' | translate"
        (click)="switchRouter('/san-pham', $event, 10)">
        <ul>
            <li nz-submenu [nzTitle]="'Cửa Sổ Hồng Ngoại' | translate"
                (click)="switchRouter('/san-pham/cua-so-hong-ngoai', $event, 10)">
                <ul>
                    <li nz-submenu [nzTitle]="'Sản Phẩm IRISS' | translate"
                        (click)="switchRouter('/san-pham/san-pham-iriss', $event, 10)">
                        <ul>
                            <li nz-menu-item [nzSelected]="selectedMenuIndex === 10">
                                <a (click)="closeSideBar($event, 10)"
                                    [routerLink]="['/san-pham/san-pham-iriss/chi-tiet']" fragment="dong-vpt"
                                    translate>Dòng VPT</a>
                            </li>
                            <li nz-menu-item [nzSelected]="selectedMenuIndex === 11">
                                <a (click)="closeSideBar($event, 11)"
                                    [routerLink]="['/san-pham/san-pham-iriss/chi-tiet']" fragment="dong-cap-ct"
                                    translate>Dòng CAP CT</a>
                            </li>
                            <li nz-menu-item [nzSelected]="selectedMenuIndex === 12">
                                <a (click)="closeSideBar($event, 12)"
                                    [routerLink]="['/san-pham/san-pham-iriss/chi-tiet']" fragment="dong-cap-env"
                                    translate>Dòng CAP ENV</a>
                            </li>
                            <li nz-menu-item [nzSelected]="selectedMenuIndex === 13">
                                <a (click)="closeSideBar($event, 13)"
                                    [routerLink]="['/san-pham/san-pham-iriss/chi-tiet']" fragment="dong-flex-ir"
                                    translate>Dòng FLEX IR</a>
                            </li>
                        </ul>
                    </li>
                    <li nz-menu-item [nzSelected]="selectedMenuIndex === 14">
                        <a (click)="closeSideBar($event, 14)" [routerLink]="['/san-pham/cua-so-hong-ngoai-cordex']"
                            translate>Sản Phẩm
                            Cordex</a>
                    </li>
                </ul>
            </li>
            <li nz-submenu [nzTitle]="'Máy Dò Trình Trạng Thiết Bị' | translate"
                (click)="switchRouter('/san-pham/may-do-tinh-trang-thiet-bi', $event, 15)">
                <ul>
                    <li nz-submenu [nzTitle]="'Máy Chụp Hình Nhiệt Cordex' | translate"
                        (click)="switchRouter('/san-pham/may-chup-hinh-nhiet-cordex', $event, 15)">
                        <ul>
                            <li nz-menu-item [nzSelected]="selectedMenuIndex === 15">
                                <a (click)="closeSideBar($event, 15)"
                                    [routerLink]="['/san-pham/may-chup-hinh-nhiet-cordex/chi-tiet']"
                                    fragment="toughpix-digiherm" translate>
                                    Máy Cordex Toughpix Digitherm
                                </a>
                            </li>
                            <li nz-menu-item [nzSelected]="selectedMenuIndex === 16">
                                <a (click)="closeSideBar($event, 16)"
                                    [routerLink]="['/san-pham/may-chup-hinh-nhiet-cordex/chi-tiet']"
                                    fragment="infrared-camera-tc7150" translate>
                                    Máy Cordex TC7150
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li (click)="$event.stopPropagation();" nz-submenu
                        [nzTitle]="'Máy Dò Sóng Siêu Âm IRISS' | translate">
                        <ul>
                            <li nz-menu-item [nzSelected]="selectedMenuIndex === 17">
                                <a (click)="closeSideBar($event, 17)"
                                    [routerLink]="['/san-pham/may-do-song-sieu-am-iriss']">Iriss Sonus
                                    XT</a>
                            </li>
                        </ul>
                    </li>
                    <li (click)="$event.stopPropagation();" nz-submenu
                        [nzTitle]="'Máy Đo Phóng Điện Cục Bộ IRISS' | translate">
                        <ul>
                            <li nz-menu-item [nzSelected]="selectedMenuIndex === 18">
                                <a (click)="closeSideBar($event, 18)"
                                    [routerLink]="['/san-pham/may-do-phong-dien-cuc-bo-iriss']">Iriss
                                    Sonus PD</a>
                            </li>
                        </ul>
                    </li>
                    <li nz-submenu [nzTitle]="'pqa_aeberle' | translate"
                        (click)="switchRouter('/san-pham/may-phan-tich-chat-luong-dien-nang-aeberle', $event, 30)">
                        <ul>
                            <li nz-menu-item [nzSelected]="selectedMenuIndex === 30">
                                <a (click)="closeSideBar($event, 30)"
                                    [routerLink]="['/san-pham/may-phan-tich-chat-luong-dien-nang-aeberle/chi-tiet']"
                                    fragment="pqbox50" translate>
                                    PQ BOX 50
                                </a>
                            </li>
                            <li nz-menu-item [nzSelected]="selectedMenuIndex === 31">
                                <a (click)="closeSideBar($event, 31)"
                                    [routerLink]="['/san-pham/may-phan-tich-chat-luong-dien-nang-aeberle/chi-tiet']"
                                    fragment="pqbox150" translate>
                                    PQ BOX 150
                                </a>
                            </li>
                            <li nz-menu-item [nzSelected]="selectedMenuIndex === 32">
                                <a (click)="closeSideBar($event, 32)"
                                    [routerLink]="['/san-pham/may-phan-tich-chat-luong-dien-nang-aeberle/chi-tiet']"
                                    fragment="pqbox200" translate>
                                    PQ BOX 200
                                </a>
                            </li>
                            <li nz-menu-item [nzSelected]="selectedMenuIndex === 33">
                                <a (click)="closeSideBar($event, 33)"
                                    [routerLink]="['/san-pham/may-phan-tich-chat-luong-dien-nang-aeberle/chi-tiet']"
                                    fragment="pqbox300" translate>
                                    PQ BOX 300
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li nz-submenu [nzTitle]="'Giải Pháp Giám Sát Liên Tục' | translate"
                (click)="switchRouter('/san-pham/giai-phap-giam-sat-lien-tuc', $event, 19)">
                <ul>
                    <li nz-menu-item [nzSelected]="selectedMenuIndex === 19">
                        <a (click)="closeSideBar($event, 19)" [routerLink]="['/san-pham/emerson-intellisaw']">Emerson
                            Intellisaw</a>
                    </li>
                    <li nz-submenu nzTitle="Cordex Automated Camera"
                        (click)="switchRouter('/san-pham/cordex-automated-camera', $event, 20)">
                        <ul>
                            <li nz-menu-item [nzSelected]="selectedMenuIndex === 20">
                                <a (click)="closeSideBar($event, 20)"
                                    [routerLink]="['/san-pham/cordex-automated-camera/cordex-mn4000']">MN4000</a>
                            </li>
                            <li nz-menu-item [nzSelected]="selectedMenuIndex === 21">
                                <a (click)="closeSideBar($event, 21)"
                                    [routerLink]="['/san-pham/cordex-automated-camera/cordex-mn4100']">MN4100</a>
                            </li>
                        </ul>
                    </li>
                    <li nz-menu-item [nzSelected]="selectedMenuIndex === 22">
                        <a (click)="closeSideBar($event, 22)" [routerLink]="['/san-pham/iriss-delta-t-alert']">Iriss
                            Delta T
                            Alert</a>
                    </li>
                    <li nz-menu-item [nzSelected]="selectedMenuIndex === 23">
                        <a (click)="closeSideBar($event, 23)" [routerLink]="['/san-pham/iriss-e-sentry-connect']">Iriss
                            E
                            Sentry</a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li nz-menu-item [nzSelected]="selectedMenuIndex === 24">
        <a (click)="closeSideBar($event, 24)" [routerLink]="['/doi-tac']" translate>Đối Tác</a>
    </li>
    <li nz-menu-item [nzSelected]="selectedMenuIndex === 25">
        <a (click)="closeSideBar($event, 25)" [routerLink]="['/du-an']" translate>Dự Án</a>
    </li>
    <li (click)="switchRouter('/ho-tro/phan-mem', $event, 26)" nz-submenu nzMenuClassName="submenu-support"
        [nzTitle]="'Hỗ Trợ' | translate">
        <ul>
            <li nz-menu-item [nzSelected]="selectedMenuIndex === 26">
                <a (click)="closeSideBar($event, 26)" [routerLink]="['/ho-tro/phan-mem']">
                    {{'Phần Mềm' | translate}}
                </a>
            </li>
            <li nz-menu-item [nzSelected]="selectedMenuIndex === 27">
                <a (click)="closeSideBar($event, 27)" [routerLink]="['/ho-tro/nghien-cuu']" translate>Tình Huống Nghiên
                    Cứu</a>
            </li>
        </ul>
    </li>
    <li (click)="switchRouter('/lien-he', $event, 28)" nz-submenu nzMenuClassName="submenu-contact"
        [nzTitle]="'Liên Hệ' | translate">
        <ul>
            <li nz-menu-item [nzSelected]="selectedMenuIndex === 28">
                <a (click)="closeSideBar($event, 28)" [routerLink]="['/lien-he']" translate>Thông Tin Liên Hệ</a>
            </li>
            <li nz-menu-item [nzSelected]="selectedMenuIndex === 29">
                <a (click)="closeSideBar($event, 29)" [routerLink]="['/lien-he/tuyen-dung']" translate>Việc Làm</a>
            </li>
        </ul>
    </li>
</ul>
