<div class="main-container">
    <div class="clearfix" id="service">
        <div class="service-wrap">
            <div class="clearfix" id="heading" nz-row nzType="flex" nzJustify="space-between" nzAlign="middle">
                <div nz-col nzXs="24" nzSm="24" nzMd="6">
                    <img style="height: 180px;" [src]="service.heading.img" alt="">
                </div>
                <div nz-col nzXs="24" nzSm="24" nzMd="18">
                    <h1 translate>{{'service.heading.title_ep_maintain'}}</h1>
                </div>
            </div>
            <div class="clearfix" id="content">
                <!-- <div ngClass="content" nz-row nzType="flex" nzJustify="space-between" nzAlign="top"
                        *ngFor="let content_ep_maintain of service.contents; let i = index">
                        <div class="text-content" nz-col nzXs="24" nzSm="24" nzMd="18">
                            <h3 class="title">{{('content_ep_maintain.title'+i) |translate}}</h3>
                            <ng-container *ngFor="let paragraph_ep_maintain of content_ep_maintain.paragraphs;let j=index;">
                                <ng-container *ngIf="paragraph_ep_maintain.type === 'p'">
                                    <p *ngFor="let text_ep_maintain of paragraph_ep_maintain.texts; let z=index">
                                        {{('text_ep_maintain'+i+j+z) |translate}}
                                    </p>
                                </ng-container>
                                <ng-container *ngIf="paragraph_ep_maintain.type === 'li-circle' || paragraph_ep_maintain.type === 'li-number'">
                                    <ul>
                                        <li [ngClass]="paragraph_ep_maintain.type" *ngFor="let text_ep_maintain of paragraph_ep_maintain.texts; let z=index">
                                            {{('text_ep_maintain'+i+j+z)|translate}}
                                        </li>
                                    </ul>
                                </ng-container>
                            </ng-container>
                        </div>
                        <div nz-col nzXs="24" nzSm="24" nzMd="6">
                            <div *ngFor="let img of content_ep_maintain.img; let j = index">
                                <img [id]="'content' + i + '-img-' + j" [src]="img" alt="">
                            </div>
                        </div>
                    </div> -->
                <div ngClass="content" nz-row nzType="flex" nzJustify="space-between" style="align-items: stretch;">
                    <div class="text-content" nz-col nzXs="24" nzSm="24" nzMd="18">
                        <ng-container *ngFor="let content_ep_maintain of service.contents; let i = index">
                            <h3 class="title">{{('content_ep_maintain.title'+i) |translate}}</h3>
                            <ng-container
                                *ngFor="let paragraph_ep_maintain of content_ep_maintain.paragraphs;let j=index;">
                                <ng-container *ngIf="paragraph_ep_maintain.type === 'p'">
                                    <p *ngFor="let text_ep_maintain of paragraph_ep_maintain.texts; let z=index">
                                        {{('text_ep_maintain'+i+j+z) |translate}}
                                    </p>
                                </ng-container>
                                <ng-container
                                    *ngIf="paragraph_ep_maintain.type === 'li-circle' || paragraph_ep_maintain.type === 'li-number'">
                                    <ul>
                                        <li [ngClass]="paragraph_ep_maintain.type"
                                            *ngFor="let text_ep_maintain of paragraph_ep_maintain.texts; let z=index">
                                            {{('text_ep_maintain'+i+j+z)|translate}}
                                        </li>
                                    </ul>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </div>
                    <div nz-col nzXs="24" nzSm="24" nzMd="6">
                        <ng-container *ngFor="let content_ep_maintain of service.contents; let i = index">
                            <ng-container *ngFor="let img of content_ep_maintain.img; let j = index">
                                <img [id]="'content' + i + '-img-' + j" [src]="img"
                                    alt="{{'content' + i + '-img-' + j}}">
                            </ng-container>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
