<div class="main-container">
        <div class="clearfix" id="service">
            <div class="service-wrap">
                <div class="clearfix" id="heading" nz-row nzType="flex" nzJustify="space-between" nzAlign="middle">
                    <div nz-col nzXs="24" nzSm="24" nzMd="6">
                        <img [src]="service.heading.img" alt="">
                    </div>
                    <div nz-col nzXs="24" nzSm="24" nzMd="18">
                        <h1>{{service.heading.title}}</h1>
                    </div>
                </div>
                <div class="clearfix" id="content">
                    <div ngClass="content" nz-row nzType="flex" nzJustify="space-between" nzAlign="top"
                        *ngFor="let content of service.contents; let i = index">
                        <div class="text-content" nz-col nzXs="24" nzSm="24" nzMd="18">
                            <h3 class="title">{{content.title}}</h3>
                            <ng-container *ngFor="let paragraph of content.paragraphs">
                                <ng-container *ngIf="paragraph.type === 'p'">
                                    <p *ngFor="let text of paragraph.texts">
                                        {{text}}
                                    </p>
                                </ng-container>
                                <ng-container *ngIf="paragraph.type === 'li-circle' || paragraph.type === 'li-number'">
                                    <ul>
                                        <li [ngClass]="paragraph.type" *ngFor="let text of paragraph.texts">
                                            {{text}}
                                        </li>
                                    </ul>
                                </ng-container>
                            </ng-container>
                        </div>
                        <div nz-col nzXs="24" nzSm="24" nzMd="6">
                            <div *ngFor="let img of content.img; let j = index">
                                <img [id]="'content' + i + '-img-' + j" [src]="img" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>