<div class="main-container">
    <div class="clearfix" id="product">
        <div class="product-wrap">
            <div nz-row nzType="flex" nzJustify="space-between" nzAlign="top">
                <div class="product" nz-col nzXs="24" nzSm="24" nzMd="10" *ngFor="let product_infrared of products; let i=index">
                    <a routerLink="{{product_infrared.href}}">
                        <div nz-row nzType="flex" nzJustify="space-between" nzAlign="top">
                            <div nz-col [nzSpan]="24/product_infrared.img.length - 1" *ngFor="let img of product_infrared.img">
                                <img [src]="img" alt="{{product_infrared.name}}" />
                            </div>
                        </div>
                        <p>
                            {{('product_infrared.description'+i)|translate}}
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

