<div class="main-container">
    <div class="clearfix" id="product">
        <div class="product-wrap">
            <div nz-row nzType="flex" nzJustify="space-between" nzAlign="top">
                <div class="product" nz-col nzXs="24" nzSm="24" nzMd="10" *ngFor="let product of products">
                    <a routerLink="{{product.href}}">
                        <div nz-row nzType="flex" nzJustify="space-between" nzAlign="top">
                            <div nz-col [nzSpan]="24/product.img.length - 1" *ngFor="let img of product.img">
                                <img [src]="img" alt="{{product.name}}" />
                            </div>
                        </div>
                        <p>
                            {{product.description}}
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

